
.fas-icon-right:before { content: '\e800'; } /* '' */
.fas-icon-search:before { content: '\e801'; } /* '' */
.fas-icon-github-circled:before { content: '\e802'; } /* '' */
.fas-icon-users:before { content: '\e803'; } /* '' */
.fas-icon-user:before { content: '\e804'; } /* '' */
.fas-icon-cog-alt:before { content: '\e805'; } /* '' */
.fas-icon-location:before { content: '\e806'; } /* '' */
.fas-icon-info-circled-alt:before { content: '\e807'; } /* '' */
.fas-icon-info-circled:before { content: '\e808'; } /* '' */
.fas-icon-menu:before { content: '\e809'; } /* '' */
.fas-icon-newspaper:before { content: '\e80a'; } /* '' */
.fas-icon-attention:before { content: '\e80b'; } /* '' */
.fas-icon-attention-alt:before { content: '\e80c'; } /* '' */
.fas-icon-help-circled-alt:before { content: '\e80d'; } /* '' */
.fas-icon-help-circled:before { content: '\e80e'; } /* '' */
.fas-icon-user-add:before { content: '\e80f'; } /* '' */
.fas-icon-copyright:before { content: '\e810'; } /* '' */
.fas-icon-lock:before { content: '\e811'; } /* '' */
.fas-icon-camera:before { content: '\e812'; } /* '' */
.fas-icon-book:before { content: '\e813'; } /* '' */
.fas-icon-user-secret:before { content: '\e814'; } /* '' */
.fas-icon-trash-empty:before { content: '\e815'; } /* '' */
.fas-icon-trash:before { content: '\e816'; } /* '' */
.fas-icon-retweet:before { content: '\e817'; } /* '' */
.fas-icon-exchange:before { content: '\e818'; } /* '' */
.fas-icon-certificate:before { content: '\e819'; } /* '' */
.fas-icon-up:before { content: '\e81a'; } /* '' */
.fas-icon-down:before { content: '\e81b'; } /* '' */
.fas-icon-plus:before { content: '\e81c'; } /* '' */
.fas-icon-cancel:before { content: '\e81d'; } /* '' */
.fas-icon-minus:before { content: '\e81e'; } /* '' */
.fas-icon-ok:before { content: '\e81f'; } /* '' */
.fas-icon-spin3:before { content: '\e820'; } /* '' */
.fas-icon-gift:before { content: '\e821'; } /* '' */
.fas-icon-pencil:before { content: '\e822'; } /* '' */