[global]

fas.url = 'http://localhost:8088/accounts/'
samadhi.baseurl = 'http://alpha.rzhou.org/'

tgcaptcha.key = 'Cx{$<_1W@]\Zv}*On;z]e'
tgcaptcha.jpeg_generator = 'mcdermott'

theme = 'fas'
# TODO: better namespacing (maybe a [fas] section)
# admingroup is for humans that can see and do anything
admingroup = 'accounts'
# systemgroup is for automated systems that can read any info from the FAS db
systemgroup = 'fas-system'
# thirdpartygroup is for thirdparties that also need group management
# via fas, but maintain their own actual account systems
thirdpartygroup = 'thirdparty'


# Personal Info / Form availability
# Select/deselect items in the form
show_postal_address = 0

accounts_email = "nobody@fedoraproject.org"
#accounts_email = "accounts@fedoraproject.org"
legal_cla_email = "nobody@fedoraproject.org"
#legal_cla_email = "legal-cla-archive@fedoraproject.org"

email_host = "fedoraproject.org" # as in, web-members@email_host

memcached_server = "127.0.0.1:11211"

gpgexec = "/usr/bin/gpg"
gpghome = "/home/ricky/work/fedora/fas/gnupg"
gpg_fingerprint = "C199 1E25 D00A D200 2D2E  54D1 BF7F 1647 C54E 8410"
# If you were wondering, this isn't a real passphrase :)
gpg_passphrase = "m00!s@ysth3c0w"
gpg_keyserver = "hkp://subkeys.pgp.net"

country_blacklist = ["--", "A1", "A2", "AN", "AS", "AX", "BI", "BL", "BV", "CC", "CU", "CV", "CX", "DM", "FK", "FO", "GF", "GG", "GP", "GS", "GW", "HM", "IO", "IR", "IQ", "JE", "KI", "KP", "MF", "MP", "MS", "MW", "NF", "NR", "NU", "PM", "PN", "RE", "SB", "SD", "SH", "SJ", "SY", "TC", "TF", "TK", "TL", "TV", "UM", "VC", "VG", "WF", "YT"]
cla_done_group = "cla_done"
cla_fedora_group = "cla_fedora"

privileged_view_groups = "(^fas-.*)"
username_blacklist = "postmaster,bin,daemon,adm,lp,sync,shutdown,halt,mail,news,uucp,operator,games,gopher,ftp,nobody,radiusd,nut,dbus,vcsa,canna,wnn,rpm,nscd,pcap,apache,webalizer,dovecot,fax,quagga,radvd,pvm,amanda,privoxy,ident,named,xfs,gdm,mailnull,postgres,sshd,smmsp,postfix,netdump,ldap,squid,ntp,mysql,desktop,rpcuser,rpc,nfsnobody,ingres,system,toor,manager,dumper,abuse,newsadm,newsadmin,usenet,ftpadm,ftpadmin,www,webmaster,noc,security,hostmaster,info,marketing,sales,support,decode,root"

# Enable or disable generation of SSL certificates for users
gencert = True

makeexec = "/usr/bin/make"
openssl_lockdir = "/var/lock/fas-openssl"
openssl_digest = "md5"
openssl_expire = 31536000 # 60*60*24*365 = 1 year
openssl_ca_dir = "/home/ricky/work/fedora/fas/ca"
openssl_ca_newcerts = "/home/ricky/work/fedora/fas/ca/newcerts"
openssl_ca_index = "/home/ricky/work/fedora/fas/ca/index"
openssl_c = "US"
openssl_st = "North Carolina"
openssl_l = "Raleigh"
openssl_o = "Fedora Project"
openssl_ou = "Upload Files"

# Groups that automatically grant membership to other groups
# Format: 'group1:a,b,c|group2:d,e,f'
auto_approve_groups = 'cvsextras:fedorabugs|cla_fedora:cla_done|cla_redhat:cla_done|cla_dell:cla_done|cla_ibm:cla_done'

# This is where all of your settings go for your development environment # Settings that are the same for both development and production
# (such as template engine, encodings, etc.) all go in 
# fas/config/app.cfg

mail.on = False
mail.server = 'localhost'
#mail.testmode = True
mail.debug = False
mail.encoding = 'utf-8'
# If running TurboMail version 3 or newer set this value:
# mail.transport='smtp'

# DATABASE

# pick the form for your database
# sqlobject.dburi="postgres://username@hostname/databasename"
# sqlobject.dburi="mysql://username:password@hostname:port/databasename"
# sqlobject.dburi="sqlite:///file_name_and_path"

# If you have sqlite, here's a simple default to get you started
# in development
sqlalchemy.dburi="postgres://fedora:fedora@localhost/fas2"
#sqlalchemy.echo=True
sqlalchemy.pool_size=1
sqlalchemy.max_overflow=2

# if you are using a database or table type without transactions
# (MySQL default, for example), you should turn off transactions
# by prepending notrans_ on the uri
# sqlobject.dburi="notrans_mysql://username:password@hostname:port/databasename"

# for Windows users, sqlite URIs look like:
# sqlobject.dburi="sqlite:///drive_letter:/path/to/file"
visit.on = True
identity.on = True

# SERVER

# Some server parameters that you may want to tweak
server.socket_port=8088

# Enable the debug output at the end on pages.
# log_debug_info_filter.on = False

server.environment="development"
debug = 'on'
autoreload.package="fas"
autoreload.on = True
server.throw_errors = True
server.log_to_screen = True

# session_filter.on = True

# Set to True if you'd like to abort execution if a controller gets an
# unexpected parameter. False by default
tg.strict_parameters = True

server.webpath='/accounts'
base_url_filter.on = True
base_url_filter.use_x_forwarded_host = False
base_url_filter.base_url = "http://localhost:8088/"

# Make the session cookie only return to the host over an SSL link
# Disabled for testing.
#visit.cookie.secure = True
#session_filter.cookie_secure = True

# LOGGING
# Logging configuration generally follows the style of the standard
# Python logging module configuration. Note that when specifying
# log format messages, you need to use *() for formatting variables.
# Deployment independent log configuration is in fas/config/log.cfg
[logging]

[[loggers]]
[[[fas]]]
level='DEBUG'
qualname='fas'
handlers=['debug_out']

[[[allinfo]]]
level='INFO'
handlers=['debug_out']

[[[access]]]
level='INFO'
qualname='turbogears.access'
handlers=['access_out']
propagate=0

[[[identity]]]
level='INFO'
qualname='turbogears.identity'
handlers=['access_out']
propagate=0

[[[database]]]
# Set to INFO to make SQLAlchemy display SQL commands
level='ERROR'
qualname='sqlalchemy.engine'
handlers=['debug_out']
propagate=0
