<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>Edit Account</title>
  </head>
  <body>
    <h2>Edit Account</h2>
    <form action="${tg.url('/user/save/%s' % value['userName'])}" method="post">
      <div class="field">
        <label for="givenName">Full Name:</label>
        <input type="text" id="givenName" name="givenName" value="${value['givenName']}" />
      </div>
      <div class="field">
        <label for="mail">Email:</label>
        <input type="text" id="mail" name="mail" value="${value['mail']}" />
      </div>
      <div class="field">
        <label for="fedoraPersonBugzillaMail">Bugzilla Email:</label>
        <input type="text" id="fedoraPersonBugzillaMail" name="fedoraPersonBugzillaMail" value="${value['fedoraPersonBugzillaMail']}" />
      </div>
      <div class="field">
        <label for="fedoraPersonIrcNick">IRC Nick:</label>
        <input type="text" id="fedoraPersonIrcNick" name="fedoraPersonIrcNick" value="${value['fedoraPersonIrcNick']}" />
      </div>
      <div class="field">
        <label for="fedoraPersonKeyId">PGP Key:</label>
        <input type="text" id="fedoraPersonKeyId" name="fedoraPersonKeyId" value="${value['fedoraPersonKeyId']}" />
      </div>
      <div class="field">
        <label for="telephoneNumber">Telephone Number:</label>
        <input type="text" id="telephoneNumber" name="telephoneNumber" value="${value['telephoneNumber']}" />
      </div>
      <div class="field">
        <label for="postalAddress">Postal Address:</label>
        <input type="text" id="postalAddress" name="postalAddress" value="${value['postalAddress']}" />
      </div>
      <div class="field">
        <label for="description ">Description:</label>
<textarea id="description" name="description">
${value['description']}
</textarea>
      </div>
      <div class="field">
        <input type="submit" value="Save!" />
      </div>
    </form>
  </body>
</html>
