<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <h2>Reset Password</h2>
    <form action="${tg.url('/user/sendpass')}" method="post">
      <ul>
        <div class="field"><label for="userName">Username:</label> <input type="text" id="userName" name="userName" /></div>
        <div class="field"><label for="mail">Primary Email:</label> <input type="text" id="mail" name="mail" /></div>
        <div class="field"><input type="submit" value="Reset Password" /></div>
      </ul>
    </form>
  </body>
</html>
