@import url('http://fonts.googleapis.com/css?family=Lato');

html, body {
    padding-top: 30px; /* Header */
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.brand, .lato {
    font-family: 'Lato';
}

.navbar-brand {
    max-width: 500px;
}

.fas-login ul {
    list-style: none;
    margin: 0;
}

.fas-login ul li {
    display: inline;
    margin-right: 20px;
}

.fas-sidebar div {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis !important;
}

.fas-sidebar .glyphicon {
    color: #999999;
}

.fas-tabs {
    margin-bottom: 10px;
}

img.fas-hovercardpic {
    margin-right: 10px;
}

.hovercard {
    display: inline;
}

.popover {
    max-width: 500px !important;
}

#account .row {
    margin-bottom: 10px;
}