@import url('http://fonts.googleapis.com/css?family=Oswald');

@media (min-width: 768px) {
  body {
    padding-top: 65px; /* Header */
  }

  .navbar ul.nav { float: right !important; }
}

.navbar {
    border-top: 5px solid #00BBFF;
    background: #ffffff;
    border-bottom: 1px solid #eee;
}

.navbar a:hover {
    color: #0084C8 !important;
    transition: all 150ms ease-in-out 0s;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    max-width: 500px;
    font-family: 'Oswald';
}

.fas-login ul {
    list-style: none;
    margin: 0;
}

.fas-login ul li {
    display: inline;
    margin-right: 20px;
}

.fas-sidebar div {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis !important;
}

.fas-sidebar .glyphicon {
    color: #999999;
}

.fas-tabs {
    margin-bottom: 10px;
}

img.fas-hovercardpic {
    margin-right: 10px;
}

.hovercard {
    display: inline;
}

.popover {
    max-width: 500px !important;
}

#account .row {
    margin-bottom: 10px;
}

.newsfeed {
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}

.newsfeed .timestamp {
    background-color: #eeeeee;
    padding: 5px;
    font-size: small;
    color: #777777;
}

.newsfeed .content {
    padding: 10px 0 10px 10px;
}
