<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('This is an OpenID server')}</title>
  </head>

  <body>
    <div class="message">
      <p>
      ${Markup(_('&lt;a href="$endpoint_url"&gt;This&lt;/a&gt; is an OpenID server endpoint.'))}
      </p>
      <p>
      ${_('For more information about OpenID, see:')}
      </p>
      <dl>
        <dt><a href="http://www.openidenabled.com/">http://www.openidenabled.com/</a></dt>
        <dd>${_('An OpenID community web site, home of this library.')}</dd>
        <dt><a href="http://www.openid.net/">http://www.openid.net/</a></dt>
        <dd>${_('The official OpenID web site.')}</dd>
      </dl>
    </div>
  </body>
</html>
