<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Approve OpenID Request?</title>
  </head>

  <body>
    <h1>Approve OpenID Request?</h1>
    <p>A new site has asked to confirm your identity.  If you
      approve, the site represented by the trust root below will
      be told that you control identity URL listed below. (If
      you are using a delegated identity, the site will take
      care of reversing the delegation on its own.)</p>
    <table>
      <tr>
	<td>Identity:</td>
	<td>$identity</td>
      </tr>
      <tr>
	<td>Trust Root:</td>
	<td>$trust_root</td>
      </tr>
    </table>
    <p>Allow this authentication to proceed?</p>
    <form method="post" action="${tg.url('/openid/allow')}">
      <xi:include href="sreg.xml"></xi:include>
      <fieldset>
	<legend>Approve OpenID Request?</legend>
	<input type="checkbox" id="remember" name="remember" value="yes"/>
	<label for="remember">Remember this decision</label><br/>
	<input type="submit" name="yes" value="yes"/>
	<input type="submit" name="no" value="no"/>
      </fieldset>
    </form>
  </body>
</html>
