<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Approve OpenID Request?')}</title>
  </head>

  <body>
    <h1>${_('Approve OpenID Request?')}</h1>
    <p>
    ${_('A new site has asked to confirm your identity.  If you approve, the site represented by the trust root below will be told that you control identity URL listed below. (If you are using a delegated identity, the site will take care of reversing the delegation on its own.)')}
    </p>
    <table>
      <tr>
        <td>${_('Identity:')}</td>
        <td>$identity</td>
      </tr>
      <tr>
        <td>${_('Trust Root:')}</td>
        <td>$trust_root</td>
      </tr>
    </table>
    <p>
    ${_('Allow this authentication to proceed?')}
    </p>
    <form method="post" action="${tg.url('/openid/allow')}">
     <input type="hidden" name="trust_root" value="$trust_root" />
      <xi:include href="sreg.xml"></xi:include>
      <fieldset>
        <legend>${_('Approve OpenID Request?')}</legend>
        <!--
        Disable this for now, as it's not too complete.
        <input type="checkbox" id="remember" name="remember" value="yes" />
        <label for="remember">${_('Remember this decision')}</label><br />
        -->
        <input type="submit" name="yes" value="${_('yes')}" />
        <input type="submit" name="no" value="${_('no')}" />
      </fieldset>
    </form>
  </body>
</html>
