<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <?python
  from turbogears import config
  _ = lambda text: tg.gettext(text)
  ?>
  <head>
    <title>${_('OpenID Identity Page')}</title>
    <link rel="openid.server" href="${endpoint_url}" />
    <link rel="openid.delegate" href="${user_url}" />
    <link rel="openid2.provider" href="${endpoint_url}" />
    <link rel="openid2.local_id" href="${user_url}" />
    <meta http-equiv="X-XRDS-Location" content="${yadis_url}"/>
  </head>

  <body>
    <h1>
      <span py:if="person.human_name" py:strip="">
        ${_('This is an OpenID identity for %(human_name)s (%(username)s)') % {'username': person.username, 'human_name': person.human_name}}
      </span>
      <span py:if="not person.human_name" py:strip="">
        ${_('This is an OpenID identity for %(username)s') % {'username': person.username}}
      </span>
    </h1>
    <div py:if="tg_flash" class="flash">
      ${tg_flash}
    </div>
    <p>
    ${Markup(_('Part of the &lt;a href="https://admin.fedoraproject.org/accounts/"&gt;Fedora Account System&lt;a&gt;.'))}
    </p>
  </body>
</html>
