<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>Select an Identity</title>
  </head>

  <body>
    <p>A site has asked for your identity.  You may select an
    identifier by which you would like this site to know you.
    On a production site this would likely be a drop down list
    of pre-created accounts or have the facility to generate
    a random anonymous identifier.
    </p>
    <form method="POST" action="${tg.url('/openid/allow')}">
      <table>
        <tr>
          <td>Identity:</td>
          <td>$id_url_base<input type='text' name='identifier'/></td>
        </tr>
        <tr>
          <td>Trust Root:</td>
          <td>$trust_root</td>
        </tr>
      </table>
      <p>Allow this authentication to proceed?</p>
      <input type="checkbox" id="remember" name="remember" value="yes"/>
      <label for="remember">Remember this decision</label><br/>
      <input type="submit" name="yes" value="yes"/>
      <input type="submit" name="no" value="no"/>
    </form>
  </body>
</html>
