<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Approve OpenID Request?</title>
  </head>

  <body>
    <p>A site has asked for an identity belonging to
      ${expected_identity}, but you are logged in as ${identity}.  To
      log in as ${expected_identity} and approve the login request,
      hit OK below.  The "Remember this decision" checkbox
      applies only to the trust root decision.</p>
    <table>
      <tr><td>Identity:</td><td>$identity</td></tr>
      <tr><td>Trust Root:</td><td>$trust_root</td></tr>
    </table>
    <p>Allow this authentication to proceed?</p>
    <form method="POST" action="${tg.url('/openid/allow')}">
      <input type="checkbox" id="remember" name="remember" value="yes"/>
      <label for="remember">Remember this decision</label><br/>
      <input type="hidden" name="login_as" value="$expected_identity"/>
      <input type="submit" name="yes" value="yes"/>
      <input type="submit" name="no" value="no"/>
    </form>
  </body>
</html>
