<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <!--TODO: Change???-->
    <meta content="http://riczho.dyndns.org:8088/serveryadis" http-equiv="x-xrds-location"/>
    <title>${_('Welcome to the Fedora OpenID Provider')}</title>
  </head>

  <body>
    <div class="login" py:choose="">
      <py:when test="not tg.identity.anonymous">
      <p>
      ${Markup(_('You are logged in as %(username)s. Your OpenID identity URL is &lt;a href="%(id_base_url)s/%(username)s"&gt;%(id_base_url)s/%(username)s&lt;/a&gt;') % {'username': tg.identity.user.username, 'id_base_url': id_base_url})}
      </p>
      <p>
      <a href="${tg.url('/logout')}">${_('Logout')}</a>
      </p>
      </py:when>
      <py:otherwise>
      <p>
      ${Markup(_('You are not &lt;a href="%(url)s"&gt;logged in&lt;/a&gt;.') % {'url': tg.url('/login')})}
      </p>
      </py:otherwise>
    </div>
  </body>
</html>
