<?xml version="1.0" encoding="UTF-8"?>
<xrds:XRDS
    xmlns:xrds="xri://$xrds"
    xmlns="xri://$xrd*($v*2.0)"
    xmlns:py="http://genshi.edgewall.org/">
  <XRD>
    <Service priority="0">
      <py:choose>
       <py:when test="user_url is not None">
         <Type>${discover.OPENID_2_0_TYPE}</Type>
         <Type>${discover.OPENID_1_0_TYPE}</Type>
      </py:when>
       <py:otherwise>
         <Type>${discover.OPENID_IDP_2_0_TYPE}</Type>
       </py:otherwise>
      </py:choose>
      <URI>${endpoint_url}</URI>
      <LocalID py:if="user_url is not None">${user_url}</LocalID>
    </Service>
  </XRD>
</xrds:XRDS>
