<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>${_('Fedora Accounts System')}</title>
    <style type="text/css">
      #content ul
      {
        list-style: square;
        margin: 1ex 3ex;
      }
    </style>
  </head>
  <body>
    <h2>${_('Error!')}</h2>
    <p>${_('The following error(s) have occured with your request:')}</p>
    <ul>
      <li py:for="field, error in tg_errors.items()">
      ${field}: ${error}
      </li>
    </ul>
  </body>
</html>
