<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>${_('Fedora Accounts System')}</title>
  </head>
  <body>
    <?python
        from fas import auth
        from fas.model import People?>
    <h2>${_('To do queue:')}</h2>
    <ul class="queue">
      <li py:if="not cla" class="unapproved">${Markup(_('FPCA not completed.  To become a full Fedora Contributor please &lt;a href="%s"&gt;complete the FPCA&lt;/a&gt;.') % tg.url('/fpca/'))}</li>
      <li py:if="not person.ssh_key">${Markup(_('You have not submitted an SSH key, some Fedora resources require an SSH key.  Please submit yours by editing &lt;a href="%s"&gt;My Account&lt;/a&gt;') % tg.url('/user/edit'))}</li>
    </ul>
    <py:for each="group in sorted(memberships)">
    <py:if test="auth.can_sponsor_group(People.by_username(person['username']), group) and group.unapproved_roles">
    <ul class="queue">
      <li py:for="role in group.unapproved_roles[:5]">
      ${Markup(_('&lt;strong&gt;&lt;a href="%(userview)s"&gt;%(user)s (%(email)s)&lt;/a&gt;&lt;/strong&gt; requests approval to join &lt;a href="%(groupview)s"&gt;%(group)s&lt;/a&gt;.') %
      {'userview': tg.url('/user/view/%s') % role.member.username,
      'groupview': tg.url('/group/view/%s') % group.name,
      'user': role.member.username,
      'email': role.member.email,
      'group': group.name})}
      </li>
    </ul>
    </py:if>
    </py:for>
    <h2>${_('Miscellaneous Tasks')}</h2>
    <div>
      <!-- TODO: Make this entire page more friendly -->
      <a href="${tg.url('/user/gencert')}">${_('Download a client-side certificate')}</a>&nbsp;
      <script type="text/javascript">var gencert = new HelpBalloon({dataURL: '${tg.url('/help/get_help/gencert')}'});</script>
    </div>
  </body>
</html>
