<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <xi:include href="${tg.fedora_template('login.html')}" />

  <head>
    <title>${_('Login to the Fedora Accounts System')}</title>
  </head>

  <body>
    <div class="row">
      <div class="fas-login col col-lg-5 col-offset-3">
        <loginform>${message}</loginform>
      </div>
    </div>
    <script type="text/javascript" src="${tg.url('/static/js/login.js')}"></script>
  </body>
</html>
