<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/"
  py:strip="">
  <?python
  from turbogears import config
  import fas.sidebar as sidebar
  _ = tg.gettext
  ?>
  <head py:match="head" py:attrs="select('@*')">
    <link href="${tg.url('/static/bootstrap/css/bootstrap.min.css')}" rel="stylesheet" />
    <link href="${tg.url('/static/chosen/chosen.css')}" rel="stylesheet" />

    <link href="${tg.url('/static/font-awesome/css/font-awesome.css')}" rel="stylesheet" />
    <!--[if IE 7]>
    <link href="${tg.url('/static/font-awesome/css/font-awesome-ie7.min.css')}" rel="stylesheet" />
    <![endif]-->

    <link href="${tg.url('/static/theme/fas/css/style.css')}" rel="stylesheet" />
    <link rel="shortcut icon" href="${tg.url('/static/theme/%s/images/favicon.ico' % config.get('theme'))}" type="image/vnd.microsoft.icon" />
    <meta py:replace="select('*|text()')" />
  </head>
  <body py:match="body" py:attrs="select('@*')">

    <div class="navbar navbar-fixed-top">
      <div class="container">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="${tg.url('/home')}">${_('Fedora Account System')}</a>

        <div class="nav-collapse collapse navbar-responsive-collapse pull-right">
          <ul class="nav">
            <li py:if="not tg.identity.anonymous">
                <a href="${tg.url('/user/view/%s' % tg.identity.user.username)}">
                  <i class="icon-user"></i> ${_('My Account')}
                </a>
            </li>
	          <py:if test="not tg.identity.anonymous">
              <py:for each="entry in sidebar.getEntries()">
                <li>
                  <a href="${tg.url(entry[1])}"><i py:if="len(entry) > 2" class="${entry[2]}" /> ${_(entry[0])}</a>
                </li>
              </py:for>
            </py:if>

            <li py:if="tg.identity.anonymous"><a href="${tg.url('https://fedoraproject.org/join-fedora')}">${_('Want to Join Fedora?')}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div py:if="config.get('deployment_type', 'dev')=='dev'" class="alert">
        <strong>Note:</strong> You're on a <strong>development</strong> instance.
      </div>
      <div py:if="config.get('deployment_type', 'dev')=='stg'" class="alert">
        <strong>Note:</strong> You're on a <strong>staging</strong> instance.
      </div>

      <!--<div id="infobar">
        <div id="authstatus">
          <span py:if="not tg.identity.anonymous">
            <strong>${_('Logged in:')}</strong> ${tg.identity.user.username}
          </span>
        </div>
        <div id="control">
          <ul class="toolbar" id="#main-toolbar">
            <li class="toolitem"><a href="${tg.url('/about')}">About</a></li>
            <logintoolitem href="${tg.url('/user/view/')}" />
          </ul>
        </div>
      </div>-->

      <div py:if="tg_flash" class="alert">
        ${tg_flash}
      </div>
      <div py:replace="select('*|text()')" />

        <!--
        <div id="footer">
          <ul id="footlinks">
            <li class="first"><a href="${tg.url('/about')}">${_('About')}</a></li>
            <li><a href="http://fedoraproject.org/wiki/Communicate">${_('Contact Us')}</a></li>
            <li><a href="http://fedoraproject.org/wiki/Legal">${_('Legal &amp; Privacy')}</a></li>
            <a href="https://fedoraproject.org/wiki/Legal/TrademarkGuidelines">${_('Trademark Guidelines')}</a>
          </ul>
          <p class="version">
            ${_('FAS version %s') % tg.fas_version}
          </p>
          <p class="copy">
            ${Markup(_('&copy; 2013 Red Hat, Inc.  Please send any comments or corrections to the &lt;a href="mailto:%(webmaster)s"&gt;websites team&lt;/a&gt;.') % {'webmaster': tg.webmaster_email})}
          </p>
          <p class="disclaimer">
            ${_('The Fedora Project is maintained and driven by the community and sponsored by Red Hat.  This is a community maintained site.  Red Hat is not responsible for content.')}
          </p>
        </div>
        -->

      <!-- TODO: Do something with this. -->
      <div class="row">
        <div py:if="tg.identity.anonymous and tg.available_languages and len(tg.available_languages) > 1" class="col-span-6">
          <form action="${tg.url('/language')}" method="post">
            <select data-placeholder="${_('Change Locale')}" name="locale" id="locale" class="chzn-select" style="width: 150px;">
              <option value=""></option>
              <option py:for="language in tg.available_languages" value="${language}">${language}</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </body>

  <xi:include href="${tg.fedora_template('login.html')}" />

  <jsglobals />
  <script type="text/javascript" src="${tg.url('/static/js/jquery.min.js')}"></script>
  <script type="text/javascript" src="${tg.url('/static/bootstrap/js/bootstrap.min.js')}"></script>
  <script type="text/javascript" src="${tg.url('/static/chosen/chosen.jquery.min.js')}"></script>
  <script type="text/javascript" src="${tg.url('/static/js/custom.js')}"></script>
  <xi:include href="${tg.fedora_template('jsglobals.html')}" />

</html>
