<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>Edit Group</title>
  </head>
  <body>
    <h2>Edit Group</h2>
    <form action="${tg.url('/group/save/%s' % value['groupName'])}" method="post">
      <div class="field">
        <label for="fedoraGroupDesc">Description:</label>
        <input type="text" id="fedoraGroupDesc" name="fedoraGroupDesc" value="${value['fedoraGroupDesc']}" />
      </div>
      <div class="field">
        <label for="fedoraGroupOwner">Group Owner:</label>
        <input type="text" id="fedoraGroupOwner" name="fedoraGroupOwner" value="${value['fedoraGroupOwner']}" />
      </div>
      <div class="field">
        <label for="fedoraGroupNeedsSponsor">Needs Sponsor:</label>
        <input py:if="value['fedoraGroupNeedsSponsor']" type="checkbox" id="fedoraGroupNeedsSponsor" name="fedoraGroupNeedsSponsor" checked="checked" />
        <input py:if="not value['fedoraGroupNeedsSponsor']" type="checkbox" id="fedoraGroupNeedsSponsor" name="fedoraGroupNeedsSponsor" />
      </div>
      <div class="field">
        <label for="fedoraGroupUserCanRemove">Self Removal:</label>
        <input py:if="value['fedoraGroupUserCanRemove']" type="checkbox" id="fedoraGroupUserCanRemove" name="fedoraGroupUserCanRemove" checked="checked" />
        <input py:if="not value['fedoraGroupUserCanRemove']" type="checkbox" id="fedoraGroupUserCanRemove" name="fedoraGroupUserCanRemove" />
      </div>
      <div class="field">
        <label for="fedoraGroupJoinMsg">Group Join Message:</label>
        <input type="text" id="fedoraGroupJoinMsg" name="fedoraGroupJoinMsg" value="${value['fedoraGroupJoinMsg']}" />
      </div>
      <div class="field">
        <input type="submit" value="Save!" />
      </div>
    </form>
  </body>
</html>
