<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>Edit Group</title>
  </head>
  <body>
    <h2>Edit Group: ${group.cn}</h2>
    <form action="${tg.url('/group/save/%s' % group.cn)}" method="post">
      <div class="field">
        <label for="fedoraGroupDesc">Description:</label>
        <input type="text" id="fedoraGroupDesc" name="fedoraGroupDesc" value="${group.fedoraGroupDesc}" />
      </div>
      <div class="field">
        <label for="fedoraGroupOwner">Group Owner:</label>
        <input type="text" id="fedoraGroupOwner" name="fedoraGroupOwner" value="${group.fedoraGroupOwner}" />
      </div>
      <div class="field">
        <label for="fedoraGroupNeedsSponsor">Needs Sponsor:</label>
        <input py:if="group.fedoraGroupNeedsSponsor" type="checkbox" id="fedoraGroupNeedsSponsor" name="fedoraGroupNeedsSponsor" value="TRUE" checked="checked" />
        <input py:if="not group.fedoraGroupNeedsSponsor" type="checkbox" id="fedoraGroupNeedsSponsor" name="fedoraGroupNeedsSponsor" value="TRUE" />
      </div>
      <div class="field">
        <label for="fedoraGroupUserCanRemove">Self Removal:</label>
        <input py:if="group.fedoraGroupUserCanRemove" type="checkbox" id="fedoraGroupUserCanRemove" name="fedoraGroupUserCanRemove" value="TRUE" checked="checked" />
        <input py:if="not group.fedoraGroupUserCanRemove" type="checkbox" id="fedoraGroupUserCanRemove" name="fedoraGroupUserCanRemove" value="TRUE" />
      </div>
      <div class="field">
        <label for="fedoraGroupRequires">Must Belong To:</label>
        <input type="text" id="fedoraGroupRequires" name="fedoraGroupRequires" value="${group.fedoraGroupRequires}" />
      </div>
      <div class="field">
        <label for="fedoraGroupJoinMsg">Group Join Message:</label>
        <textarea id="fedoraGroupJoinMsg" name="fedoraGroupJoinMsg">${group.fedoraGroupJoinMsg}</textarea>
      </div>
      <div class="field">
        <input type="submit" value="Save!" />
      </div>
    </form>
  </body>
</html>
