<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Edit Group')}</title>
  </head>
  <body>
    <h2>${_('Edit Group: %s') % group.name}</h2>
    <form action="${tg.url('/group/save/%s' % group.name)}" method="post">
      <div class="field">
        <label for="display_name">${_('Display Name:')}</label>
        <input type="text" id="display_name" name="display_name" value="${group.display_name}" />
      </div>
      <div class="field">
        <label for="group_type">${_('Group Type:')}</label>
        <input type="text" id="group_type" name="group_type" value="${group.group_type}" />
      </div>
      <div class="field">
        <label for="owner">${_('Group Owner:')}</label>
        <input type="text" id="owner" name="owner" value="${group.owner.username}" />
      </div>
      <div class="field">
        <label for="needs_sponsor">${_('Needs Sponsor:')}</label>
        <input py:if="group.needs_sponsor" type="checkbox" id="needs_sponsor" name="needs_sponsor" value="1" checked="checked" />
        <input py:if="not group.needs_sponsor" type="checkbox" id="needs_sponsor" name="needs_sponsor" value="1" />
      </div>
      <div class="field">
        <label for="user_can_remove">${_('Self Removal:')}</label>
        <input py:if="group.user_can_remove" type="checkbox" id="user_can_remove" name="user_can_remove" value="1" checked="checked" />
        <input py:if="not group.user_can_remove" type="checkbox" id="user_can_remove" name="user_can_remove" value="1" />
      </div>
      <div class="field">
        <label for="prerequisite">${_('Must Belong To:')}</label>
        <input type="text" id="prerequisite" name="prerequisite" value="${group.prerequisite}" />
      </div>
      <div class="field">
        <label for="joinmsg">${_('Group Join Message:')}</label>
        <textarea id="joinmsg" name="joinmsg">${group.joinmsg}</textarea>
      </div>
      <div class="field">
        <input type="submit" value="${_('Save!')}" />
      </div>
    </form>
  </body>
</html>
