<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Create a new FAS Group')}</title>
  </head>
  <body>
    <h2>${_('Create a new FAS Group')}</h2>
    <form action="${tg.url('/group/create')}" method="post">
      <div class="field">
        <label for="groupName"${_('Group Name:')}/label>
        <input type="text" id="groupName" name="groupName" />
      </div>
      <div class="field">
        <label for="fedoraGroupDesc"${_('Description:')}/label>
        <input type="text" id="fedoraGroupDesc" name="fedoraGroupDesc" />
      </div>
      <div class="field">
        <label for="fedoraGroupOwner"${_('Group Owner:')}/label>
        <input type="text" id="fedoraGroupOwner" name="fedoraGroupOwner" />
      </div>
      <div class="field">
        <label for="fedoraGroupType"${_('Group Type:')}/label>
        <input type="text" id="fedoraGroupType" name="fedoraGroupType" value="tracking" />
      </div>
      <div class="field">
        <label for="fedoraGroupNeedsSponsor"${_('Needs Sponsor:')}/label>
        <input type="checkbox" id="fedoraGroupNeedsSponsor" name="fedoraGroupNeedsSponsor" value="TRUE" checked="checked" />
      </div>
      <div class="field">
        <label for="fedoraGroupUserCanRemove"${_('Self Removal:')}/label>
        <input type="checkbox" id="fedoraGroupUserCanRemove" name="fedoraGroupUserCanRemove" value="TRUE" checked="checked" />
      </div>
      <div class="field">
        <label for="fedoraGroupRequires"${_('Must Belong To:')}/label>
        <input type="text" id="fedoraGroupRequires" name="fedoraGroupRequires" value="cla_done" />
      </div>
      <div class="field">
        <label for="fedoraGroupJoinMsg"${_('Join Message:')}/label>
        <textarea id="fedoraGroupJoinMsg" name="fedoraGroupJoinMsg"></textarea>
      </div>
      <div class="field">
        <input type="submit" value="${_('Create!')}" />
      </div>
    </form>
  </body>
</html>
