<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>Create a new FAS Group</title>
  </head>
  <body>
    <h2>Create a new FAS Group</h2>
    <form action="${tg.url('/group/create')}" method="post">
      <div class="field">
        <label for="groupName">Group Name:</label>
        <input type="text" id="groupName" name="groupName" />
      </div>
      <div class="field">
        <label for="fedoraGroupDesc">Description:</label>
        <input type="text" id="fedoraGroupDesc" name="fedoraGroupDesc" />
      </div>
      <div class="field">
        <label for="fedoraGroupOwner">Group Owner:</label>
        <input type="text" id="fedoraGroupOwner" name="fedoraGroupOwner" />
      </div>
      <div class="field">
        <label for="fedoraGroupNeedsSponsor">Needs Sponsor:</label>
        <input type="checkbox" id="fedoraGroupNeedsSponsor" name="fedoraGroupNeedsSponsor" value="TRUE" checked="checked" />
      </div>
      <div class="field">
        <label for="fedoraGroupUserCanRemove">Self Removal:</label>
        <input type="checkbox" id="fedoraGroupUserCanRemove" name="fedoraGroupUserCanRemove" value="TRUE" checked="checked" />
      </div>
      <div class="field">
        <label for="fedoraGroupRequires">Must Belong To:</label>
        <input type="text" id="fedoraGroupRequires" name="fedoraGroupRequires" value="cla_done" />
      </div>
      <div class="field">
        <label for="fedoraGroupJoinMsg">Join Message:</label>
        <input type="text" id="fedoraGroupJoinMsg" name="fedoraGroupJoinMsg" />
      </div>
      <div class="field">
        <input type="submit" value="Create!" />
      </div>
    </form>
  </body>
</html>
