<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Create a new FAS Group')}</title>
  </head>
  <body>
    <h2>${_('Create a new FAS Group')}</h2>
    <form action="${tg.url('/group/create')}" method="post">
      <div class="field">
        <label for="name"${_('Group Name:')}/label>
        <input type="text" id="name" name="name" />
      </div>
      <div class="field">
        <label for="display_name"${_('Display Name:')}/label>
        <input type="text" id="display_name" name="display_name" />
      </div>
      <div class="field">
        <label for="owner"${_('Group Owner:')}/label>
        <input type="text" id="owner" name="owner" />
      </div>
      <div class="field">
        <label for="group_type"${_('Group Type:')}/label>
        <input type="text" id="group_type" name="group_type" value="tracking" />
      </div>
      <div class="field">
        <label for="needs_sponsor"${_('Needs Sponsor:')}/label>
        <input type="checkbox" id="needs_sponsor" name="needs_sponsor" value="TRUE" checked="checked" />
      </div>
      <div class="field">
        <label for="user_can_remove"${_('Self Removal:')}/label>
        <input type="checkbox" id="user_can_remove" name="user_can_remove" value="TRUE" checked="checked" />
      </div>
      <div class="field">
        <label for="prerequisite"${_('Must Belong To:')}/label>
        <input type="text" id="prerequisite" name="prerequisite" value="cla_done" />
      </div>
      <div class="field">
        <label for="joinmsg"${_('Join Message:')}/label>
        <textarea id="joinmsg" name="joinmsg"></textarea>
      </div>
      <div class="field">
        <input type="submit" value="${_('Create!')}" />
      </div>
    </form>
  </body>
</html>
