<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Edit Group')}</title>
  </head>
  <body>
    <h2>${_('Edit Group: %s') % group.name}</h2>
    <form action="${tg.url('/group/save/%s' % group.name)}" method="post">
      <div class="field">
        <label for="display_name">${_('Display Name:')}</label>
        <input type="text" id="display_name" name="display_name" value="${group.display_name}" />
        <script type="text/javascript">var group_name = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_name')}'});</script>
      </div>
      <div class="field">
        <label for="group_type">${_('Group Type:')}</label>
        <input type="text" id="group_type" name="group_type" value="${group.group_type}" />
        <script type="text/javascript">var group_type = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_type')}'});</script>
      </div>
      <div class="field">
        <label for="url">${_('URL:')}</label>
        <input type="text" id="url" name="url" value="${group.url}" />
        <script type="text/javascript">var url = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_url')}'});</script>
      </div>
      <div class="field">
        <label for="mailing_list">${_('Mailing List:')}</label>
        <input type="text" id="mailing_list" name="mailing_list" value="${group.mailing_list}" />
        <script type="text/javascript">var mailing_list = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_mailing_list')}'});</script>
      </div>
      <div class="field">
        <label for="mailing_list_url">${_('Mailing List URL:')}</label>
        <input type="text" id="mailing_list_url" name="mailing_list_url" value="${group.mailing_list_url}" />
        <script type="text/javascript">var mailing_list_url = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_mailing_list_url')}'});</script>
      </div>
      <div class="field">
        <label for="irc_channel">${_('IRC Channel:')}</label>
        <input type="text" id="irc_channel" name="irc_channel" value="${group.irc_channel}" />
        <script type="text/javascript">var irc_channel = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_irc_channel')}'});</script>
      </div>
      <div class="field">
        <label for="irc_network">${_('IRC Network:')}</label>
        <input type="text" id="irc_network" name="irc_network" value="${group.irc_network}" />
        <script type="text/javascript">var irc_network = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_irc_network')}'});</script>
      </div>
      <div class="field">
        <label for="owner">${_('Group Owner:')}</label>
        <input type="text" id="owner" name="owner" value="${group.owner.username}" />
        <script type="text/javascript">var group_owner = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_owner')}'});</script>
      </div>
      <div class="field">
        <label for="invite_only">${_('Invite Only:')}</label>
        <input py:if="group.invite_only" type="checkbox" id="invite_only" name="invite_only" value="1" checked="checked" />
        <input py:if="not group.invite_only" type="checkbox" id="invite_only" name="invite_only" value="1" />
        <script type="text/javascript">var group_invite_only = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_invite_only')}'});</script>
      </div>
      <div class="field">
        <label for="needs_sponsor">${_('Needs Sponsor:')}</label>
        <input py:if="group.needs_sponsor" type="checkbox" id="needs_sponsor" name="needs_sponsor" value="1" checked="checked" />
        <input py:if="not group.needs_sponsor" type="checkbox" id="needs_sponsor" name="needs_sponsor" value="1" />
        <script type="text/javascript">var group_needs_sponsor = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_needs_sponsor')}'});</script>
      </div>
      <div class="field">
        <label for="user_can_remove">${_('Self Removal:')}</label>
        <input py:if="group.user_can_remove" type="checkbox" id="user_can_remove" name="user_can_remove" value="1" checked="checked" />
        <input py:if="not group.user_can_remove" type="checkbox" id="user_can_remove" name="user_can_remove" value="1" />
        <script type="text/javascript">var group_self_removal = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_self_removal')}'});</script>
      </div>
      <div class="field">
        <label for="prerequisite">${_('Group Prerequisite:')}</label>
        <input py:if="group.prerequisite" type="text" id="prerequisite" name="prerequisite" value="${group.prerequisite.name}" />
        <input py:if="not group.prerequisite" type="text" id="prerequisite" name="prerequisite" />
        &nbsp;<script type="text/javascript">var group_prerequisite = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_prerequisite')}'});</script>
      </div>
      <div class="field">
        <label for="joinmsg">${_('Group Join Message:')}</label>
        <textarea id="joinmsg" name="joinmsg">${group.joinmsg}</textarea>
        <script type="text/javascript">var group_join_message = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_join_message')}'});</script>
      </div>
      <div class="field">
        <label for="apply_rules">${_('Rules for Application:')}</label>
        <textarea id="apply_rules" name="apply_rules">${group.apply_rules}</textarea>
        <script type="text/javascript">var apply_rules_message = new HelpBalloon({dataURL: '${tg.url('/help/get_help/apply_rules_message')}'});</script>
      </div>
      <div class="field">
        <input type="submit" value="${_('Save!')}" />
      </div>
    </form>
  </body>
</html>
