<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip="">
  <div py:def="group_hovercard(group, link_text)" class="hovercard">
    <a href="${tg.url('/group/view/%s' % group.name)}" class="trigger" data-trigger="hover" data-container=".hovercard" data-delay="500">${link_text}</a>
    <?python
    try:
        from hashlib import md5
    except ImportError:
        from md5 import new as md5
    ?>
    <div class="head hide">
      <strong>${group.display_name}</strong>
    </div>
    <div class="content hide">
      <strong>${_('Owner')}:</strong> ${group.owner.username}
    </div>
  </div>
</html>
