<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Invite a new community member!')}</title>
  </head>
  <body>
    <script type="text/javascript">
      function goToInviteChangedLanguage(language)
      {
         // reload the invite message page with the message translated to the language requested
         location = fedora.baseurl + "/group/invite/" + "${group.name}" + "/" + language + "/" +
                    "?_csrf_token=" + fedora.identity.token;
      }
    </script>
    <h2>${_('Invite a new community member!')}</h2>
    <form method="post" action="${tg.url('/group/sendinvite/%s') % group.name}">
      <div>
        <b>${_('Language:')}</b> 
          <select name="language" id="language" onchange="goToInviteChangedLanguage(this.options[this.selectedIndex].value);">
            <option py:for="language in tg.available_languages" value="${language}"
                                    py:attrs="{'selected': selected_language == language and 'selected' or None}">
              ${language}
            </option>
          </select><br />
          <br />
        <b>${_('To email:')}</b> <input type="text" value="" name="target" /><br />
          <br />
        <b>${_('From:')}</b>       ${person.email}<br />
        <b>${_('Subject:')}</b>    ${invite_subject}<br />
        <b>${_('Message:')}</b> <p>${invite_text}</p> <br />
          <br />
        <input type="submit" value="${_('Send!')}" />
      </div>
    </form>
  </body>
</html>
