<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <xi:include href="../search-box.html" />

  <head>
    <title>${_('Groups List')}</title>
  </head>
  <body>
    <?python
    from fas.model import Groups, People
    person = People.by_username(tg.identity.user.username)
    ?>
    <span py:if="Groups.by_name('accounts') in person.approved_memberships">
      <h2>${_('Create New Group')}</h2>
      <a href="${tg.url('/group/new')}">${_('Create Group')}</a>
    </span>

    <h2>${_('List (%s)') % search}</h2>
    <h3>${_('Search Groups')}</h3>
    ${search_box('/group/list')}

    <table py:if="groups">
      <thead>
        <tr><th>${_('Group')}</th><th>${_('Description')}</th>
          <th>${_('Group Type')}</th><th>${_('Prerequisite')}</th>
          <th>${_('Status')}</th></tr>
      </thead>
      <tbody>
        <tr py:for="group in groups">
          <td><a href="${tg.url('/group/view/%s' % group.name)}">${group.name}</a></td>
          <td>${group.display_name}</td>
          <td>${group.group_type}</td>
          <td py:if="group.prerequisite_id">${group.prerequisite.name}</td>
          <td py:if="not group.prerequisite_id">${_('None')}</td>
          <td>
            <a py:if="group in person.memberships" href="${tg.url('/group/view/%s' % group.name)}">
              <span class="approved" py:if="group in person.approved_memberships">${_('Approved')}</span>
              <span class="unapproved" py:if="group in person.unapproved_memberships">${_('Unapproved')}</span>
            </a>
            <a py:if="not group.invite_only and group not in person.memberships" href="${tg.url('/group/application_screen/%s/%s' % (group.name, person.username))}"><span>${_('Apply')}</span></a>
            <script py:if="not group.invite_only and group not in person.memberships" type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_apply')}'});</script>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
