<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip="">
  <table py:def="member_table(members, group, person)">
    <?python
    from fas import auth
    import pytz
    timezone = pytz.timezone(person.timezone)
    ?>
    <thead>
      <tr>
        <th><a href="${tg.url('?order_by=username')}">${_('User')}</a></th>
        <th><a href="${tg.url('?order_by=sponsor')}">${_('Sponsor')}</a></th>
        <th><a href="${tg.url('?order_by=creation')}">${_('Date Added')}</a></th>
        <th><a href="${tg.url('?order_by=approval')}">${_('Date Approved')}</a></th>
        <th><a href="${tg.url('?order_by=role_status')}">${_('Approval')}</a></th>
        <th><a href="${tg.url('?order_by=role_type')}">${_('Role Type')}</a></th>
        <th py:if="can_sponsor">${_('Action')}</th>
      </tr>
    </thead>
    <tr py:for="role in members">
      <td><a href="${tg.url('/user/view/%s' % role.member.username)}">${role.member.username}<br />${role.member.email}</a></td>
      <td py:if='role.sponsor'><a href="${tg.url('/user/view/%s' % role.sponsor.username)}">${role.sponsor.username}</a></td>
      <td py:if='not role.sponsor'>${_('None')}</td>
      <td>${role.creation.astimezone(timezone).strftime('%Y-%m-%d %H:%M:%S %Z')}</td>
      <td py:if='role.approval'>${role.approval.astimezone(timezone).strftime('%Y-%m-%d %H:%M:%S %Z')}</td>
      <td py:if='not role.approval'>${_('None')}</td>
      <td>${role.role_status}</td>
      <td>${role.role_type}</td>
      <!-- This section includes all action items -->
      <td py:if="can_sponsor">
        <ul class="actions">
          <li py:if="role.role_status == 'unapproved'">
          <py:if test="group.needs_sponsor">
          <a href="${tg.url('/group/sponsor/%s/%s' % (group.name, role.member.username))}">${_('Sponsor')}</a>
          <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_sponsor')}'});</script>
          </py:if>
          <py:if test="not group.needs_sponsor">
          <a href="${tg.url('/group/sponsor/%s/%s' % (group.name, role.member.username))}">${_('Approve')}</a>
          <script type="text/javascript">var hb2 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_approve')}'});</script>
          </py:if>
          </li>
          <li>
          <a href="${tg.url('/group/remove/%s/%s' % (group.name, role.member.username))}">${_('Remove')}</a>
          <script type="text/javascript">var hb3 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_remove')}'});</script>
          </li>
          <li py:if="role.role_type != 'administrator' or auth.can_downgrade_user(person, group)">
          <a href="${tg.url('/group/upgrade/%s/%s' % (group.name, role.member.username))}">${_('Upgrade')}</a>
          <script type="text/javascript">var hb4 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_upgrade')}'});</script>
          </li>
          <li py:if="role.role_type != 'user' or auth.can_downgrade_user(person, group)">
          <a href="${tg.url('/group/downgrade/%s/%s' % (group.name, role.member.username))}">${_('Downgrade')}</a>
          <script type="text/javascript">var hb5 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_downgrade')}'});</script>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</html> 
