<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Create a new FAS Group')}</title>
  </head>
  <body>
    <div class="row">
      <div class="col col-lg-12">
        <h2>${_('Create a new FAS Group')}</h2>
        <form action="${tg.url('/group/create')}" method="post" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="name">${_('Group Name:')}</label>
            <div class="controls">
              <input type="text" id="name" name="name" />
            </div>
            <script type="text/javascript">var group_name = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_name')}'});</script>
          </div>
          <div class="control-group">
            <label class="control-label" for="display_name">${_('Display Name:')}</label>
            <div class="controls">
              <input type="text" id="display_name" name="display_name" />
            </div>
            <script type="text/javascript">var group_display_name = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_display_name')}'});</script>
          </div>
          <div class="control-group">
            <label class="control-label" for="owner">${_('Group Owner:')}</label>
            <div class="controls">
              <input type="text" id="owner" name="owner" />
            </div>
            <script type="text/javascript">var group_owner = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_owner')}'});</script>
          </div>
          <div class="control-group">
            <label class="control-label" for="group_type">${_('Group Type:')}</label>
            <div class="controls">
              <input type="text" id="group_type" name="group_type" value="tracking" />
            </div>
            <script type="text/javascript">var group_type = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_type')}'});</script>
          </div>
          <div class="control-group">
            <label class="control-label" for="invite_only">${_('Invite Only:')}</label>
            <div class="controls">
              <input type="checkbox" id="invite_only" name="invite_only" value="1" />
            </div>
            <script type="text/javascript">var group_invite_only = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_invite_only')}'});</script>
          </div>
          <div class="control-group">
            <label class="control-label" for="needs_sponsor">${_('Needs Sponsor:')}</label>
            <div class="controls">
              <input type="checkbox" id="needs_sponsor" name="needs_sponsor" value="1" checked="checked" />&nbsp;
            </div>
            <script type="text/javascript">var group_needs_sponsor = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_needs_sponsor')}'});</script>
          </div>
          <div class="control-group">
            <label class="control-label" for="user_can_remove">${_('Self Removal:')}</label>
            <div class="controls">
              <input type="checkbox" id="user_can_remove" name="user_can_remove" value="1" checked="checked" />&nbsp;
            </div>
            <script type="text/javascript">var group_self_removal = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_self_removal')}'});</script>
          </div>
          <div class="control-group">
            <label class="control-label" for="prerequisite">${_('Must Belong To:')}</label>
            <div class="controls">
              <input type="text" id="prerequisite" name="prerequisite" value="${tg.config('cla_done_group', 'cla_done')}" />
            </div>
            <script type="text/javascript">var group_prerequisite = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_prerequisite')}'});</script>
          </div>
          <div class="control-group">
            <label class="control-label" for="joinmsg">${_('Join Message:')}</label>
            <div class="controls">
              <textarea id="joinmsg" name="joinmsg"></textarea>
            </div>
            <script type="text/javascript">var group_join_message = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_join_message')}'});</script>
          </div>
          <div class="control-group">
            <label class="control-label" for="apply_rules">${_('Rules for Application:')}</label>
            <div class="controls">
              <textarea id="apply_rules" name="apply_rules"></textarea>
            </div>
            <script type="text/javascript">var apply_rules_message = new HelpBalloon({dataURL: '${tg.url('/help/get_help/apply_rules_message')}'});</script>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="submit" value="${_('Create!')}" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
