<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Edit Group')}</title>
  </head>
  <body>
    <?python
    from fas import auth
    from fas.model import People
    person = People.by_username(tg.identity.user.username)
    ?>
    <h2>${group.display_name} (${group.name})</h2>
    <h3>
      ${_('My Status:')}
      <span py:if="group in person.memberships and group in person.approved_memberships" class="approved">${_('Approved')}</span>
      <span py:if="group in person.memberships and not group in person.approved_memberships" class="unapproved">${_('Unapproved')}</span>
      <span py:if="not group in person.memberships">${_('Not a Member')}</span>
    </h3>
    <form py:if="not group in person.memberships" action="${tg.url('/group/apply/%s/%s' % (group.name, person.username))}">
      <div>
        <!--<input type="text" name="requestField" value="${_('Please let me join...')}" />-->
        <input type="submit" value="${('Apply!')}" />
      </div>
    </form>
    <a py:if="group in person.memberships" href="${tg.url('/group/remove/%s/%s' % (group.name, person.username))}">${_('Remove me')}</a>
    <h3>Group Details <a py:if="auth.canAdminGroup(person, group)" href="${tg.url('/group/edit/%s' % group.name)}">${_('(edit)')}</a></h3>
    <div class="userbox">
      <dl>
        <dt>${_('Name:')}</dt><dd>${group.name}&nbsp;</dd>
        <dt>${_('Description:')}</dt><dd>${group.display_name}&nbsp;</dd>
        <dt>${_('Owner:')}</dt><dd>${group.owner.username}&nbsp;</dd>
        <dt>${_('Type:')}</dt><dd>${group.group_type}&nbsp;</dd>
        <dt>${_('Needs Sponsor:')}</dt><dd>
        <span py:if="group.needs_sponsor == 1" py:strip="">${_('Yes')}</span>
        <span py:if="group.needs_sponsor == 0" py:strip="">${_('No')}</span>
        &nbsp;</dd>
        <dt>${_('Self Removal:')}</dt><dd>
        <span py:if="group.user_can_remove == 1" py:strip="">${_('Yes')}</span>
        <span py:if="group.user_can_remove == 0" py:strip="">${_('No')}</span>
        &nbsp;</dd>
        <dt>${_('Join Message:')}</dt><dd>${group.joinmsg}&nbsp;</dd>
        <dt>${_('Prerequisite:')}</dt>
            <dd py:if="group.prerequisite">${group.prerequisite.name}&nbsp;</dd>
            <dd py:if="not group.prerequisite">&nbsp;</dd>
        <dt>${_('Created:')}</dt><dd>${group.creation}&nbsp;</dd>
      </dl>
    </div>
    <!--
    TODO: Implement this :)
    <h3 py:if='me.fedoraRoleStatus == "approved"'>${_('Invite')}</h3>
    <span py:if='me.fedoraRoleStatus == "approved"'>${form(action='modifyGroup', value=value, method='get')}</span>
    -->
    <h3>${_('Members')}</h3>
    <table>
      <thead>
        <tr>
          <th>${_('Username')}</th>
          <th>${_('Sponsor')}</th>
          <th>${_('Date Added')}</th>
          <th>${_('Date Approved')}</th>
          <th>${_('Approval')}</th>
          <th>${_('Role Type')}</th>
          <th py:if="auth.canSponsorGroup(person.username, group.name)">${_('Action')}</th>
        </tr>
      </thead>
      <tr py:for="role in group.roles">
        <td><a href="${tg.url('/user/view/%s' % role.member.username)}">${role.member.username}</a></td>
        <td py:if='not(role.member.username ==  "None")'><a href="${tg.url('/user/view/%s' % role.member.username)}">${role.member.username}</a></td>
        <td py:if='role.member.username == "None"'>${_('None')}</td>
        <?python
        from datetime import datetime
        from pytz import timezone
        ?>
        <td>${role.creation}</td>
        <td>${role.approval}</td>
        <td>${role.role_status}</td>
        <td>${role.role_type}</td>
        <!-- This section includes all action items -->
        <td py:if="auth.canSponsorGroup(person, group)">
          <ul class="actions">
            <li py:if="group in role.member.unapproved_memberships">
            <a py:if="group.needs_sponsor" href="${tg.url('/group/sponsor/%s/%s' % (group.name, role.member.username))}">${_('Sponsor')}</a>
            <a py:if="not group.needs_sponsor" href="${tg.url('/group/sponsor/%s/%s' % (group.name, role.member.username))}">${_('Approve')}</a>
            </li>
            <li py:if="auth.canRemoveUser(person, group, role.member)">
            <a href="${tg.url('/group/remove/%s/%s' % (group.name, role.member.username))}">${_('Remove')}</a>
            </li>
            <li py:if="auth.canUpgradeUser(person, group, role.member)">
            <a href="${tg.url('/group/upgrade/%s/%s' % (group.name, role.member.username))}">${_('Upgrade')}</a>
            </li>
            <li py:if="auth.canDowngradeUser(person, group, role.member)">
            <a href="${tg.url('/group/downgrade/%s/%s' % (group.name, role.member.username))}">${_('Downgrade')}</a>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </body>
</html>
