<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <xi:include href="member-list.html" />
  <head>
    <title>${_('View Group')}</title>
  </head>

  <body>
    <?python
    from fas import auth
    from fas.model import People
    person = People.by_username(tg.identity.user.username)
    can_admin = auth.can_admin_group(person, group)
    can_sponsor = auth.can_sponsor_group(person, group)
    ?>
    <h2>${group.display_name} (${group.name})</h2>
    <h3>
      ${_('My Status:')}
      <span py:if="group in person.memberships and group in person.approved_memberships" class="approved">${_('Approved')}</span>
      <span py:if="group in person.memberships and not group in person.approved_memberships" class="unapproved">${_('Unapproved')}</span>
      <span py:if="not group in person.memberships">${_('Not a Member')}</span>
    </h3>
    <!--
        TODO: Turning the below form into an anchor ref fixes the CSRF request
              I'm nto sure if that's intended though>
    <a py:if="not group.invite_only and not group in person.memberships" href="${tg.url('/group/application_screen/%s/%s' % (group.name, person.username))}"><h3>Apply</h3></a> -->
    <form py:if="not group.invite_only and not group in person.memberships" action="${tg.url('/group/application_screen/%s/%s' % (group.name, person.username))}" method="POST">
      <div>
        <!--<input type="text" name="requestField" value="${_('Please let me join...')}" />-->
        <input type="submit" value="${_('Apply!')}" />
      </div>
    </form>
    <div py:if="group.invite_only and not group in person.memberships">
        <p>${_('Group is invite only.  Contact group sponsors for more information.')}</p>
    </div>
    <a py:if="group in person.memberships" href="${tg.url('/group/remove/%s/%s' % (group.name, person.username))}">${_('Remove me')}</a>
    <script py:if="group in person.memberships" type="text/javascript">var hb7 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_remove')}'});</script>
    <h3>Group Details <a py:if="can_admin" href="${tg.url('/group/edit/%s' % group.name)}">${_('(edit)')}</a></h3>
    <div class="userbox">
      <dl>
        <dt>${_('Name:')}</dt><dd>${group.name}&nbsp;</dd>
        <dt>${_('Description:')}</dt><dd>${group.display_name}&nbsp;</dd>
        <dt>${_('Owner:')}</dt><dd><a href="${tg.url('/user/view/%s') % group.owner.username}">${group.owner.username}</a></dd>
        <dt>${_('Type:')}</dt><dd>${group.group_type}&nbsp;</dd>

	<dt>${_('Rules for Application:')}</dt><dd>${group.apply_rules}&nbsp;</dd>

	<dt>${_('Approved Members:')}</dt><dd>${len(group.approved_roles)}&nbsp;</dd>

        <py:if test="group.url">
        <dt>${_('URL:')}</dt><dd><a href="${group.url}">${group.url}</a>&nbsp;</dd>
        </py:if>

        <py:if test="group.mailing_list">
        <dt>${_('Mailing List:')}</dt><dd>
        <py:if test="group.mailing_list_url"><a href="${group.mailing_list_url}">${group.mailing_list}</a></py:if>
        <py:if test="not group.mailing_list_url">${group.mailing_list}</py:if>&nbsp;
        </dd>
        </py:if>

        <py:if test="group.irc_channel">
        <dt>${_('IRC:')}</dt><dd>
        ${group.irc_channel}<py:if test="group.irc_network"> (${group.irc_network})</py:if>
        &nbsp;
        </dd>
        </py:if>

        <dt>${_('Invite Only:')}</dt><dd>
        <py:if test="group.invite_only">${_('Yes')}</py:if>
        <py:if test="not group.invite_only">${_('No')}</py:if>
        &nbsp;</dd>
        <dt>${_('Needs Sponsor:')}</dt><dd>
        <py:if test="group.needs_sponsor">${_('Yes')}</py:if>
        <py:if test="not group.needs_sponsor">${_('No')}</py:if>
        &nbsp;</dd>
        <dt>${_('Self Removal:')}</dt><dd>
        <py:if test="group.user_can_remove">${_('Yes')}</py:if>
        <py:if test="not group.user_can_remove">${_('No')}</py:if>
        &nbsp;</dd>
        <dt>${_('Join Message:')}</dt><dd>${group.joinmsg}&nbsp;</dd>
        <dt>${_('Prerequisite:')}</dt>
            <dd py:if="group.prerequisite">${group.prerequisite.name}&nbsp;</dd>
            <dd py:if="not group.prerequisite">&nbsp;</dd>
        <dt>${_('Created:')}</dt><dd>${group.creation}&nbsp;</dd>
        <py:if test="can_sponsor">
        <dt>${_('Add User:')}</dt>
        <dd>
          <form action="${tg.url('/group/application_screen/%s' % group.name)}"
            method="post">
            <input type='text' size='15' name='targetname'/>
            <input type="submit" value="${_('Add')}" />
            <script type="text/javascript">var group_user_add = new HelpBalloon({dataURL: '${tg.url('/help/get_help/group_user_add')}'});</script>
          </form>
        </dd>
        </py:if>
      </dl>
    </div>
    <!--
    TODO: Implement this :)
    <h3 py:if='me.fedoraRoleStatus == "approved"'>${_('Invite')}</h3>
    <span py:if='me.fedoraRoleStatus == "approved"'>${form(action=tg.url('modifyGroup'), value=value, method='post')}</span>
    -->
    
    <a py:if='len(group.roles) >= 51' href="${tg.url('/group/members/%s' % group.name)}"><h3>${_('View Member List')}</h3></a>
    <a py:if="51 > len(group.roles)" href="${tg.url('/group/members/%s/*' % group.name)}"><h3>${_('View Member List')}</h3></a>
    <div py:if="can_sponsor">
      <h3>${_('Sponsorship Queue')}</h3>
      ${member_table(sponsor_queue, group, person)}
    </div>
  </body>
</html>
