<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../../master.html" />
  <head>
    <title>${_('Manage Emails')}</title>
  </head>
  <body>
    <h2>${_('Managing Emails for %s') % person.username}</h2>
    <h3>Available Emails</h3>
    <table>
      <thead>
        <tr>
          <th>${_('Email')}</th>
          <th>${_('Description')}</th>
          <th>${_('Verified')}</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="email in person.person_emails">
          <td><a href="mailto:${email.email}">${email.email}</a></td>
          <td>${email.description}</td>
          <td py:if="email.verified"><span class="approved">${_('Verified')}</span></td>
          <td py:if="not email.verified"><span class="unapproved">${_('Unverified')}</span> <a href="${tg.url('/email/verify')}">${_('Resend Verification')}</a></td>
        </tr>
      </tbody>
    </table>
    <h3>Set Emails</h3>
    <table>
      <thead>
        <tr>
          <th>${_('Email')}</th>
          <th>${_('Description')}</th>
          <th>${_('Purpose')}</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="purpose in person.email_purposes.values()">
          <td><a href="mailto:${purpose.email}">${purpose.email}</a></td>
          <td>${purpose.person_email.description}</td>
          <td>${purpose.purpose}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
