<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Fedora Accounts System')}</title>
    <link rel="openid.server" href="${server}" />
  </head>
  <body>
    <h2>${_('User %s') % person.username}</h2>
    <div class="userbox">
      <dl>
        <dt>${_('Username:')}</dt>
        <dd>${person.username}</dd>
        <dt>${_('Name:')}</dt>
        <dd>${person.human_name}</dd>
      </dl>
    </div>
  </body>
</html>
