*
{
  margin: 0;
  padding: 0;
}

body
{
  font-size: 76%;
}

a
{
  text-decoration: none;
}

#wrapper
{
  font: normal 2ex/1.5 sans-serif;
}

#head
{
  overflow: hidden;
  margin-top: 35px;
  height: 70px;
  line-height: 70px;
  background: url(images/head.png) 0 0 repeat-x;
}

#head h1
{
  width: 250px;
  float: left;
  text-indent: -9999px;
  overflow: hidden;
  background: url(images/logo.png) 1ex 50% no-repeat;
}

#searchbox
{
  width: 36ex;
  float: right;
  text-align: right;
  margin-right: 2ex;
}

#searchbox label
{
  display: none;
}

#searchbox input
{
  display: inline;
  border: 1px solid #CCCCCC;
}

#searchbox #q
{
  width: 20ex;
}

#topnav
{
  height: 30px;
  line-height: 30px;
  background: url(images/topnav.png) 0 0 repeat-x;
  font-size: 1.6ex;
}

#topnav ul
{
  list-style: none;
  text-align: center;
}

#topnav ul li
{
  display: inline;
  background: url(images/topnav-separator.png) 0 50% no-repeat;
  padding-left: 3px;
}

#topnav ul li.first
{
  background: none;
}

#topnav a
{
  color: #445566;
  margin: 0 2ex;
}

#topnav a:hover
{
  color: #000000;
}

#infobar
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  line-height: 35px;
  background: url(images/infobar.png) 0 0 repeat-x;
  font-size: 1.6ex;
}

#authstatus
{
  width: 40ex;
  float: left;
  color: #FFFFFF;
  padding-left: 1.5ex;
}

#authstatus strong
{
  color: #DED6A1;
}

#control
{
  width: 40ex;
  float: right;
  margin-right: 1ex;
}

#control ul
{
  list-style: none;
  text-align: right;
}

#control ul li
{
  display: inline;
  background: url(images/control-separator.png) 0 50% no-repeat;
}

#control a
{
  color: #DED6A1;
  margin: 0 1.5ex;
}

#main
{
  background: url(images/shadow.png) 0 0 repeat-x;
}

#sidebar
{
  width: 22ex;
  float: left;
  background: #335F9D url(images/sidebar.png) 0 0 repeat-x;
  border: 1px solid #112233;
}

#sidebar ul
{
  list-style: none;
}

#sidebar li
{
  border-top: 1px solid #CCCCCC;
}

#sidebar li.first
{
  border-top: none;
}

#sidebar a
{
  display: block;
  text-align: center;
  color: #FFFFFF;
  padding: 0.5ex 0;
}

#sidebar a:hover
{
  background: #082C59;
}

#content
{
  margin-left: 22ex;
  padding: 2ex 4ex;
}

#content h2
{
  /* header icon */
}

#content a
{
  color: #0C6ED0;
}

.userbox
{
}

.userbox dt
{
  width: 23ex;
  float: left;
  text-align: right;
}

.userbox dd
{
  margin-left: 25ex;
}

.account
{
  padding-left: 30px;
  background: url(images/account.png) 0 68% no-repeat;
}

.approved
{
  padding-left: 20px;
  background: url(images/approved.png) 0 68% no-repeat;
}

.unapproved
{
  padding-left: 20px;
  background: url(images/unapproved.png) 0 68% no-repeat;
}

.attn
{
  padding-left: 20px;
  background: url(images/attn.png) 0 68% no-repeat;
}

.roleslist
{
  list-style: none;
}

.roleslist li
{
  margin-left: 0.5ex;
}

.actions
{
  margin-top: 1.5ex;
  list-style: none;
}

.actions li
{
  display: inline;
}

#rolespanel
{
  list-style: none;
}

#rolespanel li.role
{
  border-top: 2px solid #EEEEEE;
  margin-top: 1ex;
  padding-top: 1ex;
  padding-left: 22px;
  background: url(images/arrow.png) 0 1.6ex no-repeat;
}

#rolespanel h4
{
  display: inline;
}

#rolespanel dt
{
  width: 10ex;
  float: left;
  text-align: right;
  margin-bottom: 1ex;
}

#rolespanel dd
{
  margin-left: 12ex;
  margin-bottom: 1ex;
}

#rolespanel .tools, #rolespanel .queue
{
  list-style: none;
}

#rolespanel .tools li
{
  padding-left: 22px;
  background: url(images/tools.png) 0 50% no-repeat;
}

#rolespanel .queue li
{
  padding-left: 22px;
  background: url(images/queue.png) 0 50% no-repeat;
}

#footer
{
  font-size: 1.6ex;
  clear: both;
  text-align: center;
  padding: 15px 0 2.5ex;
  background: url(images/footer-top.png) 0 0 repeat-x;
}

#footlinks
{
  padding-top: 3px;
  padding-bottom: 18px;
  background: #EEEEEE url(images/footer-bottom.png) 0 100% repeat-x;
  list-style: none;
}

#footlinks li
{
  display: inline;
  border-left: 1px solid #CCCCCC;
  padding-left: 1px;
}

#footlinks li.first
{
  padding-left: 0;
  border-left: none;
}

#footlinks a
{
  margin: 0 2ex;
  color: #3465A4;
}

