<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Change Security Question')}</title>
  </head>
  <body>
    <h2>${_('Change Security Question')}</h2>
    <form action="${tg.url('/user/setquestion')}" method="post">
      <p>${_('Please enter your current password for confirmation, and then choose a new security question and answer.')}</p>
      <p>${_('This question will be asked if you lose access to your email address and want to recover access to your account.')}</p>
      <ul>
        <div class="field"><label for="currentpassword">${_('Current Password:')}</label> <input type="password" id="currentpassword" name="currentpassword" /></div>
        <div class="field"><label for="newquestion">${_('New Question:')}</label> <input type="text" id="newquestion" name="newquestion" /></div>
        <div class="field"><label for="newanswer">${_('Answer:')}</label> <input type="text" id="newanswer" name="newanswer" /></div>
        <div class="field"><input class="sub-button" type="submit" value="${_('Change Security Question')}" /></div>
      </ul>
    </form>
  </body>
</html>
