<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Change Password')}</title>
  </head>
  <body>
    <h2>${_('Change Password')}</h2>
    <form action="${tg.url('/user/setpass')}" method="post">
      <p>${_('Passphrases need to be of a certain complexity to prevent attackers from guessing it by having a computer try different combinations of characters in rapid succession.  To make such brute force attacks harder we enforce some minimum levels of strength:')}</p>
      <ul>
        <li>${_('A passphrase with symbols, upper and lowercase letters, and digits must be at least 9 characters')}</li>
        <li>${_('A passphrase with upper and lowercase letters and digits must be at least 10 characters')}</li>
        <li>${_('A passphrase with lowercase letters and digits must be at least 12 characters')}</li>
        <li>${_('A passphrase with letters alone must be made of at least 3 different characters and be at least 20 characters long')}</li>
      </ul>
      <p>${_('Remember that these are minimum levels.  You are encouraged to make your passphrases longer and more complex than the minimum values.')}</p>
      <ul>
        <div class="field"><label for="currentpassword">${_('Current Password:')}</label> <input type="password" id="currentpassword" name="currentpassword" /></div>
        <div class="field"><label for="password">${_('New Password:')}</label> <input type="password" id="password" name="password" /></div>
        <div class="field"><label for="passwordcheck">${_('Confirm Password:')}</label> <input type="password" id="passwordcheck" name="passwordcheck" /></div>
        <div class="field"><input class="sub-button" type="submit" value="${_('Change Password')}" /></div>
      </ul>
    </form>
  </body>
</html>
