<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <?python
    import GeoIP
    bad_codes = tg.config('country_blacklist', [])
    countries = GeoIP.country_names

    countries = dict((unicode(c[0]), unicode(c[1], 'latin-1')) for c in countries.iteritems() if c[0] not in bad_codes)

  ?>

  <xi:include href="../master.html" />
  <head>
    <title>${_('Edit Account')}</title>
  </head>
  <body>
    <h2>${_('Edit Account (%s)') % target.username}</h2>
    <div class="field">
      <label>${_('Password:')}</label>
      <a href="${tg.url('/user/changepass')}">${_('(change)')}</a>
    </div>
    <form action="${tg.url('/user/save/%s' % target.username)}" method="post" enctype="multipart/form-data">
      <div class="field">
        <label for="human_name">${_('Full Name')}:</label>
        <input type="text" id="human_name" name="human_name" value="${target.human_name}" />
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_human_name')}'});</script>
      </div>
      <!--Need to figure out what the interface should be for emails. -->
      <div class="field">
        <label for="mail">${_('Email')}:</label>
        <input type="text" id="email" name="email" value="${target.email}" />
        <span py:if="target.unverified_email and target.emailtoken">
          ${Markup(_('(pending change to %(email)s - &lt;a href="%(url)s"&gt;cancel&lt;/a&gt;)') % {'email': target.unverified_email, 'url': tg.url('/user/verifyemail/1/cancel')})}
        </span>
        <script type="text/javascript">var hb2 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_email')}'});</script>
      </div>
<!--      <div class="field">
        <label for="fedoraPersonBugzillaMail">${_('Bugzilla Email')}:</label>
        <input type="text" id="fedoraPersonBugzillaMail" name="fedoraPersonBugzillaMail" value="${target.username}" />
      </div>
-->
      <div class="field">
        <label for="telephone">${_('Telephone Number')}:</label>
        <input type="text" id="telephone" name="telephone" value="${target.telephone}" />
        <script type="text/javascript">var hb5 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_telephone')}'});</script>
      </div>
      <div py:if="show['show_postal_address']" class="field">
        <label for="postal_address">${_('Postal Address')}:</label>
        <textarea id="postal_address" name="postal_address">${target.postal_address}</textarea>
        <script type="text/javascript">var hb6 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_postal_address')}'});</script>
      </div>
      <div class="field">
        <label for="country_code">${_('Country')}:</label>
        <select name="country_code">
            <option value=''>${_('Select Country')}</option>
            <option py:for="code, country in sorted(countries.items(), lambda x, y: cmp(x[1], y[1]))"
              py:attrs="dict(selected=(code==target.country_code and 'True' or None ))"
              value="${code}">${country}(${code})</option>
        </select>
        <script type="text/javascript">var hb6 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_country_code')}'});</script>
      </div>
      <p align="center">
      ${_('If your country is not listed, select "Other"')}
      </p>
<!--    <div class="field">
	<label for="share_country_code">${_('Share Country Code')}:</label>
	<input type="checkbox" id="share_country_code" name="share_country_code"
	       py:attrs="dict(checked=(target.get_share_cc() and True or None))" />
Unfortunately, checked can't be used as a boolean, only as a flag.  Silly HTML4 standard
        <script type="text/javascript">var hb_share_cc = new HelpBalloon({dataURL: '${tg.url('/help/get_help/share_country_code')}'});</script>
      </div>
-->
      <div class="field">
	<label for="latitude">${_('Latitude')}:</label>
	<input type="text" id="latitude" name="latitude" value="${target.latitude}" />
        <script type="text/javascript">var hb_latitude = new HelpBalloon({dataURL: '${tg.url('/help/get_help/latitude_and_longitude')}'});</script>
      </div>
      <div class="field">
	<label for="longitude">${_('Longitude')}:</label>
	<input type="text" id="longitude" name="longitude" value="${target.longitude}" />
        <script type="text/javascript">var hb_longitude = new HelpBalloon({dataURL: '${tg.url('/help/get_help/latitude_and_longitude')}'});</script>
      </div>
<!--
      <div class="field">
	<label for="share_location">${_('Share Location')}:</label>
	<input type="checkbox" id="share_location" name="share_location"
	        py:attrs="dict(checked=(target.get_share_loc()  and True or None))" />
        <script type="text/javascript">var hb_share_loc = new HelpBalloon({dataURL: '${tg.url('/help/get_help/share_location')}'});</script>
      </div>
 -->
      <div class="field">
        <label for="ircnick">${_('IRC Nick')}:</label>
        <input type="text" id="ircnick" name="ircnick" value="${target.ircnick}" />
        <script type="text/javascript">var hb3 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_ircnick')}'});</script>
      </div>
      <div class="field">
        <label for="gpg_keyid">${_('GPG Key ID')}:</label>
        <input type="text" id="gpg_keyid" name="gpg_keyid" value="${target.gpg_keyid}" />
        <script type="text/javascript">var hb4 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_gpg_keyid')}'});</script>
      </div>
      <div class="field">
        <label for="ssh_key">${_('Public RSA SSH Key')}:</label>
        <!--<textarea id="ssh_key" rows='3' cols='50' name="ssh_key">${target.ssh_key}</textarea>-->
        <input type="file" name="ssh_key" id="ssh_key" />
        <script type="text/javascript">var hb19 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_ssh_key')}'});</script>
      </div>
      <div class="field">
        <label for="timezone">${_('Time Zone')}:</label>
        <select id="timezone" name="timezone">
          <?python
          from pytz import common_timezones
          ?>
          <option py:for="tz in common_timezones" value="${tz}" py:attrs="{'selected': target.timezone == tz and 'selected' or None}">${tz}</option>
        </select>
        <script type="text/javascript">var hb9 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_timezone')}'});</script>
      </div>
      <div py:if="tg.available_languages" class="field">
        <label for="locale">${_('Locale')}:</label>
        <select name="locale" id="locale">
          <option py:for="language in tg.available_languages" value="${language}" py:attrs="{'selected': tg.lang == language and 'selected' or None}">${language}</option>
        </select>
        <script type="text/javascript">var hb10 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_locale')}'});</script>
      </div>
      <div class="field">
        <label for="status">${_('Status')}:</label>
        <select id="status" name="status">
          <option py:for="status in ('active', 'inactive')" value="${status}" py:attrs="{'selected': target.status == status and 'selected' or None}">${status}</option>
          <option py:if="admin" value="admin_disabled" py:attrs="{'selected': target.status == 'admin_disabled' and 'selected' or None}">disabled</option>
        </select>
        <script type="text/javascript">var hb7 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_account_status')}'});</script>
      </div>
      <div class="field">
        <label for="comments ">${_('Comments')}:</label>
        <textarea id="comments" name="comments">${target.comments}</textarea>
        <script type="text/javascript">var hb8 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_comments')}'});</script>
      </div>
      <br />
      <div class="field">
        <label for="privacy ">${_('Privacy')}:</label>
        <input py:attrs="dict(checked=(target.privacy and True or None))" type="checkbox" id="privacy" name="privacy" />
        <script type="text/javascript">var hb_privacy = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_privacy')}'});</script>
      </div>
      <div class="field">
        <input class="sub-button" type="submit" value="${_('Save!')}" />
        <a href="${tg.url('/user/view/%s' % target.username)}">${_('Cancel')}</a>
      </div>
    </form>
  </body>
</html>
