<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Edit Account')}</title>
  </head>
  <body>
    <h2>${_('Edit Account (%s)') % target.username}</h2>
    <form action="${tg.url('/user/save/%s' % target.username)}" method="post" enctype="multipart/form-data">
      <div class="field">
        <label for="human_name">${_('Human Name')}:</label>
        <input type="text" id="human_name" name="human_name" value="${target.human_name}" />
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_human_name')}'});</script>
      </div>
      <!--Need to figure out what the interface should be for emails. -->
      <div class="field">
        <label for="mail">${_('Email')}:</label>
        <input type="text" id="email" name="email" value="${target.email}" />
        <span py:if="target.unverified_email and target.emailtoken">
          ${Markup(_('(pending change to %(email)s - &lt;a href="%(url)s"&gt;cancel&lt;/a&gt;)') % {'email': target.unverified_email, 'url': tg.url('/user/verifyemail/1/cancel')})}
        </span>
        <script type="text/javascript">var hb2 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_email')}'});</script>
      </div>
<!--      <div class="field">
        <label for="fedoraPersonBugzillaMail">${_('Bugzilla Email')}:</label>
        <input type="text" id="fedoraPersonBugzillaMail" name="fedoraPersonBugzillaMail" value="${target.username}" />
      </div> -->
      <div class="field">
        <label for="telephone">${_('Telephone Number')}:</label>
        <input type="text" id="telephone" name="telephone" value="${target.telephone}" />
        <script type="text/javascript">var hb5 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_telephone')}'});</script>
      </div>
      <div class="field">
        <label for="postal_address">${_('Postal Address')}:</label>
        <textarea id="postal_address" name="postal_address">${target.postal_address}</textarea>
        <script type="text/javascript">var hb6 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_postal_address')}'});</script>
      </div>
      <div class="field">
        <label for="ircnick">${_('IRC Nick')}:</label>
        <input type="text" id="ircnick" name="ircnick" value="${target.ircnick}" />
        <script type="text/javascript">var hb3 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_ircnick')}'});</script>
      </div>
      <div class="field">
        <label for="gpg_keyid">${_('PGP Key')}:</label>
        <input type="text" id="gpg_keyid" name="gpg_keyid" value="${target.gpg_keyid}" />
        <script type="text/javascript">var hb4 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_gpg_keyid')}'});</script>
      </div>
      <div class="field">
        <label for="ssh_key">${_('Public SSH Key')}:</label>
        <!--<textarea id="ssh_key" rows='3' cols='50' name="ssh_key">${target.ssh_key}</textarea>-->
        <input type="file" name="ssh_key" id="ssh_key" />
        <script type="text/javascript">var hb19 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_ssh_key')}'});</script>
      </div>
      <div class="field">
        <label for="timezone">${_('Time Zone')}:</label>
        <select id="timezone" name="timezone">
          <?python
          from pytz import common_timezones
          ?>
          <option py:for="tz in common_timezones" value="${tz}" py:attrs="{'selected': target.timezone == tz and 'selected' or None}">${tz}</option>
        </select>
        <script type="text/javascript">var hb7 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_timezone')}'});</script>
      </div>
      <div class="field">
        <label for="locale">${_('Locale')}:</label>
        <select name="locale" id="locale">
          <option py:for="language in tg.available_languages" value="${language}" py:attrs="{'selected': tg.lang == language and 'selected' or None}">${language}</option>
        </select>
        <script type="text/javascript">var hb8 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_locale')}'});</script>
        <!--<script type="text/javascript">var hb7 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/locale')}'});</script>-->
      </div>
      <div class="field">
        <label for="comments ">${_('Comments')}:</label>
        <textarea id="comments" name="comments">${target.comments}</textarea>
        <script type="text/javascript">var hb8 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_comments')}'});</script>
      </div>
      <div class="field">
        <input type="submit" value="${_('Save!')}" />
        <a href="${tg.url('/user/view/%s' % target.username)}">${_('Cancel')}</a>
      </div>
    </form>
  </body>
</html>
