<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <?python
  from turbogears import config
  ?>
  <xi:include href="../master.html" />
  <head>
    <title>${_('Certificate Generation Disabled')}</title>
  </head>
  <body>
    <h2>${_('Certificate Generation Disabled')}</h2>
    <p>
    ${_('Generating SSL Certificates is disabled on this machine.  If you were brought here by clicking a link it usually means there is a misconfiguration on the server.  Please contact %(accts_email)s to fix things.') % {'accts_email': config.get('accounts_email')}}
    </p>
  </body>
</html>
