<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Users List')}</title>
  </head>
  <body>
    <h2>${_('List (%s)') % search}</h2>
    <form method="post" action="${tg.url('/user/list')}">
      <p>${_('"*" is a wildcard (Ex: "ric*")')}</p>
      <div>
        <input type="text" value="${search}" name="search" size="15 "/>
        <input type="submit" value="Search" />
      </div>
    </form>
    <h3>${_('Results')}</h3>
    <ul class="letters">
      <li py:for="letter in 'abcdefghijklmnopqrstuvwxyz'.upper()"><a href="${tg.url('/user/list/%s*' % letter)}">${letter}</a></li>
      <li><a href="${tg.url('/user/list/*')}">${_('All')}</a></li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>${_('Username')}</th>
          <th>${_('Account Status')}</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="person in people">
          <td><a href="${tg.url('/user/view/%s' % person.username)}">${person.username}</a></td>
          <td>
            <span class="approved">${_('CLA Done')}</span>
          </td>
        </tr>
        <tr py:for="person in unapproved_people">
          <td><a href="${tg.url('/user/view/%s' % person.username)}">${person.username}</a></td>
          <td>
            <span class="unapproved">${_('Not Done')}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
