<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Sign up for a Fedora account')}</title>
  </head>
  <body>
    <h2>${_('Sign up for a Fedora account')}</h2>
    <form action="${tg.url('/user/create')}" method="post">
      <div class="field">
        <label for="username">${_('Username:')}</label>
        <input type="text" id="username" name="username" />
      </div>
      <div class="field">
        <label for="human_name">${_('Full Name:')}</label>
        <input type="text" id="human_name" name="human_name" />
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_human_name')}'});</script>
      </div>
      <div class="field">
        <label for="email">${_('Email:')}</label>
        <input type="text" id="email" name="email" />
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_email')}'});</script>
      </div>
      <div class="field">
        <label for="email">${_('Verify Email:')}</label>
        <input type="text" id="email" name="verify_email" />
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_email')}'});</script>
      </div>
      <!--
      <div class="field">
        <label for="fedoraPersonBugzillaMail">${_('Bugzilla Email:')}</label>
        <input type="text" id="mail" name="fedoraPersonBugzillaMail" />
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_bugzilla_mail')}'});</script>
      </div>
      <div class="field">
        <label for="telephone">${_('Telephone Number:')}</label>
        <input type="text" id="telephone" name="telephone" />
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_telephone')}'});</script>
      </div>
      <div py:if="show['show_postal_address']" class="field">
        <label for="postal_address">${_('Postal Address:')}</label>
        <textarea id="postal_address" name="postal_address"></textarea>
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_postal_address')}'});</script>
      </div>-->
      <div class="field">
        <label for="age_check">${_('I am 13 years of age or older')}</label>
        <input type="checkbox" id="age_check" name="age_check" />
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_age_check')}'});</script>
      </div>
      <div class="field">
        ${HTML(captcha.render())}
        <label for="captcha">${_('Type the letters in the box')}</label>
      </div>
      <div class="field">
        <input type="submit" value="${_('Sign up!')}" />
      </div>
    </form>
  </body>
</html>
