<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Reset Password')}</title>
  </head>
  <body>
    <h2>${_('Reset Password')}</h2>
    <form action="${tg.url('/user/sendtoken')}" method="post">
      <ul>
        <div class="field"><label for="username">${_('Username:')}</label> <input type="text" id="username" name="username" /></div>
        <div class="field"><label for="email">${_('Email:')}</label> <input type="text" id="email" name="email" /></div>
        <!-- FIXME::
        - Encrypt and sign is currently broken.  Fix it later.
        <div class="field"><input type="checkbox" id="encrypted" name="encrypted" /> <label style="width: auto; float: none; margin-left: 1ex;" for="encrypted">${_('Encrypt/Sign password reset email')}</label></div>
        -->
        <div class="field"><input class="sub-button" type="submit" value="${_('Reset')}" /></div>
      </ul>
    </form>
  </body>
</html>
