<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('View Account')}</title>
  </head>
  <body>
    <?python
      import turbogears
      from fas import auth
      from fas.model import People
      from fas import controllers
      viewer = People.by_username(tg.identity.user.username)
      viewer = viewer.filter_private()
      locale = controllers.get_locale()
    ?>
    <h2 class="account" py:if="personal">${_('Your Fedora Account')}</h2>
    <h2 class="account" py:if="not personal">${_('%s\'s Fedora Account') % person.username}</h2>
    <h3>${_('Account Details')} <a href="${tg.url('/user/edit/%s' % person.username)}" py:if="personal or admin">${_('(edit)')}</a></h3>
    <div class="userbox">
      <dl>
        <dt>${_('Account Name:')}</dt>
        <dd>${person.username}</dd>
        <py:if test="person.human_name">
          <dt>${_('Full Name:')}</dt>
          <dd>${person.human_name}</dd>
        </py:if>
        <py:if test="person.email">
          <dt>${_('Email:')}</dt>
          <dd>${person.email}
            <span py:if="(personal or admin) and person.unverified_email and person.emailtoken">
              ${Markup(_('(pending change to %(email)s - &lt;a href="%(url)s"&gt;cancel&lt;/a&gt;)') % {'email': person.unverified_email, 'url': tg.url('/user/verifyemail/1/cancel')})}
            </span>
          </dd>
        </py:if>
        <py:if test="person.telephone and (personal or admin)">
          <dt>${_('Telephone Number:')}</dt>
          <dd>${person.telephone}&nbsp;</dd>
        </py:if>
        <py:if test="person.postal_address and (personal or admin) and show['show_postal_address']">
          <dt>${_('Postal Address:')}</dt>
          <dd>${person.postal_address}&nbsp;</dd>
        </py:if>
        <py:if test="person.country_code">
          <dt>${_('Country:')}</dt>
          <dd>${person.country_code}&nbsp;</dd>
          </py:if>
        <!--
        <py:if test="person.bugzilla_email">
          <dt>${_('Bugzilla Email:')}</dt><dd>${person.username}</dd>
          </py:if>
          -->
        <py:if test="person.ircnick">
          <dt>${_('IRC Nick:')}</dt><dd>${person.ircnick}&nbsp;</dd>
        </py:if>
        <py:if test="person.gpg_keyid">
          <dt>${_('PGP Key:')}</dt>
          <dd>${person.gpg_keyid}&nbsp;</dd>
        </py:if>
        <!-- We should correct this.  Everything else is filtered in the
        - model:People*Select classes.
        - -->
        <py:if test="personal or admin">
          <dt>${_('Public SSH Key:')}</dt>
          <dd py:if="person.ssh_key" title="${person.ssh_key}">
            <span py:for="key in person.ssh_key.split('\n')" py:strip="True">${key}<br /></span>
            <a href="${tg.url('/user/clearkey')}">${_('(remove ssh key)')}</a>
          </dd>
          <dd py:if="not person.ssh_key">${_('No ssh key provided')}&nbsp;</dd>
        </py:if>
        <py:if test="person.comments">
          <dt>${_('Comments:')}</dt><dd>${person.comments}&nbsp;</dd>
        </py:if>
        <!-- Note: password is changable so we don't hide it if it's
        - unavailable
        - -->
        <py:if test="personal or admin">
          <dt>${_('Security question: ')}</dt>
          <py:if test="personal">
            <dd>${person.security_question}&nbsp;  <a href="${tg.url('/user/changequestion')}">${_('(change)')}</a></dd>
          </py:if>
          <py:if test="not personal and admin">
            <dd>
              <div>
                <span py:if="person.security_question" class="approved">${_('Active')}</span>
                <span py:if="not person.security_question" class="unapproved">${_('Inactive')}</span>
              </div>
            </dd>
          </py:if>
        </py:if>
        <py:if test="personal or admin">
          <dt>${_('Password:')}</dt>
          <dd>
          <a href="${tg.url('/user/changepass')}">${_('(change)')}</a>
          </dd>
        </py:if>
        <py:if test="person.status">
          <dt>${_('Account Status:')}</dt>
          <dd>
            <div py:choose="person.status" py:strip="True">
              <span py:when="'active'" class="approved">${_('Active')}</span>
              <span py:when="'inactive'" class="unapproved">${_('Inactive')}</span>
              <span py:when="'pinged'" class="approved">${_('Pinged')}</span>
              <span py:when="'admin_disabled'" class="unapproved">${_('Disabled')}</span>
            </div>
            <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_account_status')}'});</script>
          </dd>
        </py:if>
        <dt>${_('Contributor Agreement:')}</dt>
        <dd py:choose="cla">
        <span py:when="True" class="approved">
          <py:if test="undeprecated">
            ${_('CLA Signed')}
          </py:if>
          <py:if test="not undeprecated">
          ${_('CLA Done')} - <span class="unapproved">${_('New CLA Not Signed')}
            <py:if test="personal">- ${_('We need contributors to sign the new Contributor Agreement')}(<a href="${tg.url('/fpca/')}">${_('Complete it now!')}</a>)</py:if>
            </span>
          </py:if>
          <py:if test="admin">
            (<a href="${tg.url('/fpca/reject/%s' % person.username)}">${_('Reject FPCA')}</a>)
          </py:if>
          </span>

          <span py:otherwise="" class="unapproved">${_('Not Signed')}<py:if test="personal"> (<a href="${tg.url('/fpca/')}">${_('Complete it!')}</a>)</py:if></span>
          <script type="text/javascript">var hb2 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_cla')}'});</script>
        </dd>
        <dt>${_('Privacy:')}</dt>
        <dd>
        <span py:if="person.privacy">${_('Account Information Private')}</span>
        <span py:if="not person.privacy">${_('Account Information Public')}</span>
          <script type="text/javascript">var hb_privacy = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_privacy')}'});</script>
        </dd>
      </dl>
    </div>
    <h3 py:if="personal">${_('Your Roles')}</h3>
    <h3 py:if="not personal">${_('%s\'s Roles') % person.username}</h3>
    <!--mpm    <ul class="roleslist">
      <li py:for="group in sorted(groups.keys())"><span class="team approved">${groupdata[group].fedoraGroupDesc} (${group})</span></li>
      <li py:for="group in sorted(groupsPending.keys())"><span class="team unapproved">${groupdata[group].fedoraGroupDesc} (${group})</span></li>
    </ul>
    -->
    <!--
    <ul class="actions" py:if="personal">
      <li><a href="${tg.url('/group/list/A*')}">${_('(Join another project)')}</a></li>
      <li><a href="${tg.url('/')}">${_('(Create a new project)')}</a></li>
    </ul>
    -->
    <ul id="rolespanel">
      <py:for each="role in sorted(person['roles'], lambda x,y: cmp(x.group.name, y.group.name))">
      <li py:if="auth.can_view_group(viewer, role.group)" class="role">
      <h4><a href="${tg.url('/group/view/%s') % role.group.name}">${role.group.display_name}</a></h4> (${role.role_type})
      <dl>
        <dt>${_('Status:')}</dt>
        <dd>
        <span class="approved" py:if="role.role_status == 'approved'">${_('Approved')}</span>
        <span class="unapproved" py:if="role.role_status == 'unapproved'">${_('Unapproved')}</span>
        </dd>
        <py:if test="personal">
        <dt>${_('Tools:')}</dt>
        <dd>
        <ul class="tools">
          <li><a href="${tg.url('/group/view/%s' % role.group.name)}">${_('View Group')}</a></li>
          <li py:if="role.role_status == 'approved'">
            <a href="${tg.url('/group/invite/%s/%s/' % (role.group.name, locale))}">
              ${_('Invite a New Member...')}
            </a>
          </li>
          <li py:if="auth.can_sponsor_group(People.by_username(person['username']), role.group)"><a href="${tg.url('/group/view/%s' % role.group.name)}">${_('Manage Group Membership...')}</a></li>
          <li py:if="auth.can_edit_group(People.by_username(person['username']), role.group)"><a href="${tg.url('/group/edit/%s' % role.group.name)}">${_('Manage Group Details...')}</a></li>
        </ul>
        </dd>
        <py:if test="auth.can_sponsor_group(People.by_username(person['username']), role.group) and role.group.unapproved_roles">
        <dt>${_('Queue:')}</dt>
        <dd>
        <ul class="queue">
          <li py:for="unapproved_role in role.group.unapproved_roles[:5]">
          ${Markup(_('&lt;strong&gt;%(user)s&lt;/strong&gt; requests approval to join &lt;strong&gt;%(unapproved_role.group)s&lt;/strong&gt;.') % {'user': unapproved_role.member.username, 'unapproved_role.group': unapproved_role.group.name})}
          </li>
        </ul>
        </dd>
        </py:if>
        </py:if>
      </dl>
      </li>
      </py:for>
    </ul>
  </body>
</html>
