<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('View Account')}</title>
  </head>
  <body>
    <?python from fas import auth ?>
    <h2 class="account" py:if="personal">${_('Your Fedora Account')}</h2>
    <h2 class="account" py:if="not personal">${_('%s\'s Fedora Account') % person.human_name}</h2>
    <h3>${_('Account Details')} <a href="${tg.url('/user/edit/%s' % person.username)}" py:if="personal or admin">${_('(edit)')}</a></h3>
    <div class="userbox">
      <dl>
        <dt>${_('Account Name:')}</dt><dd>${person.username}</dd>
        <dt>${_('Real Name:')}</dt><dd>${person.human_name}</dd>
        <dt>${_('Email:')}</dt><dd>${person.emails['primary'].email}</dd>
        <!--<dt>${_('Bugzilla Email:')}</dt><dd>${person.username}</dd>-->
        <dt>${_('IRC Nick:')}</dt><dd>${person.ircnick}&nbsp;</dd>
        <dt>${_('PGP Key:')}</dt><dd>${person.gpg_keyid}&nbsp;</dd>
        <dt>${_('Telephone Number:')}</dt><dd>${person.telephone}&nbsp;</dd>
        <dt>${_('Postal Address:')}</dt><dd>${person.postal_address}&nbsp;</dd>
        <dt>${_('Comments:')}</dt><dd>${person.comments}&nbsp;</dd>
        <dt>${_('Password:')}</dt><dd><span class="approved">${_('Valid')}</span> <a href="${tg.url('/user/changepass')}" py:if="personal">(change)</a></dd>
        <dt>${_('Account Status:')}</dt><dd><span class="approved">${_('Valid')}</span></dd>
        <!-- cla = {None, 'signed', 'clicked'} -->
        <dt>${_('CLA:')}</dt><dd><span py:if="cla" class="approved">${_('Done')}</span><span py:if="not cla" class="unapproved">${_('Not Done')} (<a href="${tg.url('/cla')}">${_('Sign it!')}</a>)</span></dd>
      </dl>
    </div>
    <h3 py:if="personal">${_('Your Roles')}</h3>
    <h3 py:if="not personal">${_('%s\'s Roles') % person.givenName}</h3>
<!--mpm    <ul class="roleslist">
      <li py:for="group in sorted(groups.keys())"><span class="team approved">${groupdata[group].fedoraGroupDesc} (${group})</span></li>
      <li py:for="group in sorted(groupsPending.keys())"><span class="team unapproved">${groupdata[group].fedoraGroupDesc} (${group})</span></li>
    </ul>
-->
    <!--
    <ul class="actions" py:if="personal">
      <li><a href="${tg.url('/group/list/A*')}">${_('(Join another project)')}</a></li>
      <li><a href="/">${_('(Create a new project)')}</a></li>
    </ul>
    -->
    <ul id="rolespanel" py:if="personal">
      <div py:for="group in sorted(groups)" py:strip="">
      <li py:if="auth.canViewGroup(person, group)" class="role">
      <h4>${group.display_name}</h4> (${group.group_type})
      <dl>
        <dt>${_('Status:')}</dt>
        <dd>
        <span class="approved">${_('Approved')}</span>
        </dd>
        <dt>${_('Tools:')}</dt>
        <dd>
        <ul class="tools">
          <li><a href="${tg.url('/group/view/%s' % group.name)}">${_('View Group')}</a></li>
          <li><a href="${tg.url('/group/invite/%s' % group.name)}">${_('Invite a New Member...')}</a></li>
          <li py:if="auth.canSponsorGroup(person, group)"><a href="${tg.url('/group/view/%s' % group.name)}">${_('Manage Group Membership...')}</a></li>
          <li py:if="auth.canEditGroup(person, group)"><a href="${tg.url('/group/edit/%s' % group.name)}">${_('Manage Group Details...')}</a></li>
        </ul>
        </dd>
<!--        <div py:if="auth.canSponsorGroup(person.username, group.name) and groupUnapproved[group] != []" py:strip="">
          <dt>${_('Queue:')}</dt>
          <dd>
          <ul class="queue">
            <li py:for="user in groupUnapproved[group][:5]">
            ${Markup(_('&lt;strong&gt;%(user)s&lt;/strong&gt; requests approval to join &lt;strong&gt;%(group)s&lt;/strong&gt;.') % {'user': user[0], 'group': group})}
            </li>
          </ul>
          </dd>
        </div>-->
      </dl>
      </li>
      </div>
    </ul>
  </body>
</html>
