<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <xi:include href="../group/hovercard.html" />
  <head>
    <title>${_('View Account')}</title>
  </head>
  <body>
    <?python
      import turbogears
      from fas import auth
      from fas.model import People
      from fas import controllers
      viewer = People.by_username(tg.identity.user.username)
      viewer = viewer.filter_private()
      locale = controllers.get_locale()

      try:
          from hashlib import md5
      except ImportError:
          from md5 import new as md5
    ?>

    <div class="row">
      <div class="col-span-2 fas-sidebar">
        <img src="http://www.gravatar.com/avatar/${md5(person.email).hexdigest()}?s=140&amp;d=http://fedoraproject.org/static/images/fedora_infinity_140x140.png" class="img-thumbnail" />

        <hr />

        <py:if test="person.human_name">
          <h3>${person.human_name}</h3>
        </py:if>

        <h5 style="display: inline;">${person.username}</h5>

        <hr />

        <div py:if="person.email">
            <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:${person.email}">${person.email}</a>

          <!-- TODO: Hovercard this on email hover -->
          <span py:if="(personal or admin) and person.unverified_email and person.emailtoken">
            ${Markup(_('(pending change to %(email)s - &lt;a href="%(url)s"&gt;cancel&lt;/a&gt;)') % {'email': person.unverified_email, 'url': tg.url('/user/verifyemail/1/cancel')})}
          </span>
        </div>

        <div py:if="person.telephone and (personal or admin)">
          <span class="glyphicon glyphicon-signal"></span> ${person.telephone}
        </div>

        <div py:if="person.ircnick">
          <span class="glyphicon glyphicon-comment"></span> ${person.ircnick}
        </div>

        <div py:if="person.country_code">
          <span class="glyphicon glyphicon-globe"></span> ${person.country_code}
        </div>

        <div py:if="person.gpg_keyid">
          <span class="glyphicon glyphicon-file"></span> ${person.gpg_keyid}
        </div>
      </div>

      <div class="col-span-10">
        <ul id="profiletabs" class="nav nav-tabs fas-tabs">
          <li class="active"><a href="#roles" data-toggle="tab">${_('Roles')}</a></li>
          <li><a href="#account" data-toggle="tab">${_('Account Overview')}</a></li>

          <py:choose test="person.status">
            <span py:when="'active'" class="label label-success pull-right">${_('Active')}</span>
            <span py:when="'inactive'" class="label label-danger pull-right">${_('Inactive')}</span>
            <span py:when="'pinged'" class="label label-warning pull-right">${_('Pinged')}</span>
            <span py:when="'admin_disabled'" class="label pull-right">${_('Disabled')}</span>
          </py:choose>

        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="roles">
            <table class="table">
              <thead>
                <tr>
                  <th>${_('Group')}</th>
                  <th>${_('Status')}</th>
                  <th>${_('Role')}</th>
                  <th py:if="personal">${_('Call to action')}</th>
                </tr>
              </thead>
              <tbody>
                <py:for each="role in sorted(person['roles'], lambda x,y: cmp(x.group.name, y.group.name))">
                  <tr py:if="auth.can_view_group(viewer, role.group)">
                    <td>${group_hovercard(role.group, role.group.display_name)}</td>

                    <py:if test="role.role_status == 'approved'">
                      <td>
                        <span class="label label-success">${_('approved')}</span>
                      </td>

                      <td>
                        <py:if test="role.role_type == 'user'"><span class="label label-success">${role.role_type}</span></py:if>
                        <py:if test="role.role_type == 'sponsor'"><span class="label label-warning">${role.role_type}</span></py:if>
                        <py:if test="role.role_type == 'administrator'"><span class="label label-danger">${role.role_type}</span></py:if>
                      </td>
                    </py:if>

                    <py:if test="role.role_status == 'unapproved'">
                      <td>
                        <span class="label label-important">${_('unapproved')}</span>
                      </td>

                      <td>
                        <py:if test="role.role_type == 'user'"><span class="label label-success">${role.role_type}</span></py:if>
                        <py:if test="role.role_type == 'sponsor'"><span class="label label-warning">${role.role_type}</span></py:if>
                        <py:if test="role.role_type == 'administrator'"><span class="label label-danger">${role.role_type}</span></py:if>
                      </td>
                    </py:if>

                    <py:if test="personal">
                      <td>
                        <py:if test="role.role_status == 'approved'">
                          <a href="${tg.url('/group/invite/%s/%s/' % (role.group.name, locale))}" class="btn btn-small">
                            ${_('Invite Member')}
                          </a>
                        </py:if>
                      </td>

                      <td>
                        <py:if test="auth.can_sponsor_group(People.by_username(person['username']), role.group)">
                          <a href="${tg.url('/group/view/%s' % role.group.name)}" class="btn btn-small">
                            ${_('Manage Membership')}
                          </a>
                        </py:if>
                      </td>

                      <td>
                        <py:if test="auth.can_edit_group(People.by_username(person['username']), role.group)">
                          <a href="${tg.url('/group/edit/%s' % role.group.name)}" class="btn btn-small">
                            ${_('Manage Details')}
                          </a>
                        </py:if>
                      </td>
                    </py:if>
                  </tr>
                </py:for>
              </tbody>
            </table>
          </div>

          <div class="tab-pane" id="account">
            <div class="row" py:if="person.postal_address and (personal or admin) and show['show_postal_address']">
              <div class="col-span-3">
                <strong>${_('Postal Address')}</strong>
              </div>
              <div class="col-span-9">
                ${person.postal_address}
              </div>
            </div>

            <div class="row" py:if="personal or admin">
              <div class="col-span-3">
                <strong>${_('Public SSH Key')}</strong>
                <a href="${tg.url('/user/clearkey')}">${_('(remove)')}</a>
              </div>
              <div class="col-span-9">
                <py:if test="person.ssh_key">
                  <div style="overflow: auto; white-space: nowrap;">
                    ${person.ssh_key}
                  </div>
                </py:if>
                <div py:if="not person.ssh_key">${_('No ssh key provided')}&nbsp;</div>
              </div>
            </div>

            <div class="row" py:if="person.comments">
              <div class="col-span-3">
                <strong>${_('Comments')}</strong>
              </div>
              <div class="col-span-9">
                ${person.comments}
              </div>
            </div>

            <div class="row" py:if="personal or admin">
              <div class="col-span-3">
                <strong>${_('Security question')}</strong>
                <a href="${tg.url('/user/changequestion')}">${_('(change)')}</a>
              </div>
              <div class="col-span-9">
                <py:if test="personal">
                  ${person.security_question}
                </py:if>
                <py:if test="not personal and admin">
                  <div>
                    <span py:if="person.security_question" class="label label-success">${_('Active')}</span>
                    <span py:if="not person.security_question" class="label label-danger">${_('Inactive')}</span>
                  </div>
                </py:if>
              </div>
            </div>

            <div class="row">
              <div class="col-span-3">
                <strong>${_('Contributor Agreement')}</strong>
                <py:if test="admin and cla">
                  (<a href="${tg.url('/fpca/reject/%s' % person.username)}">${_('reject')}</a>)
                </py:if>
              </div>
              <div class="col-span-9">
                <py:choose test="cla">
                  <py:when test="True">
                    <span py:if="undeprecated" class="label label-success">${_('CLA Signed')}</span>
                    <span py:if="not undeprecated" class="label label-warning">${_('New CLA Not Signed')}</span>
                    <!-- TODO -->
                    <!--<py:if test="personal">- ${_('We need contributors to sign the new Contributor Agreement')}(<a href="${tg.url('/fpca/')}">${_('Complete it now!')}</a>)</py:if>-->
                    <span py:otherwise="" class="label label-danger">
                      ${_('Not Signed')}
                      <py:if test="personal">
                        (<a href="${tg.url('/fpca/')}">${_('Complete it!')}</a>)
                      </py:if>
                    </span>
                  </py:when>
                </py:choose>
              </div>
            </div>

            <div class="row" py:if="personal or admin">
              <div class="col-span-3">
                <strong>${_('Password')}</strong>
              </div>
              <div class="col-span-9">
                <a href="${tg.url('/user/changepass')}">${_('(change)')}</a>
              </div>
            </div>

            <div class="row">
              <div class="col-span-3">
                <strong>${_('Privacy')}</strong>
              </div>
              <div class="col-span-9">
                <py:if test="person.privacy">${_('Account Information Private')}</py:if>
                <py:if test="not person.privacy">${_('Account Information Public')}</py:if>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
