<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>${_('Login to the Fedora Accounts System')}</title>
    <style type="text/css">
      #content ul
      {
        list-style: square;
        margin: 1ex 3ex;
      }
    </style>
  </head>
  <body>
    <h2>${_('Login')}</h2>
    <p>${message}</p>
    <form action="${previous_url}" method="post">
      <div class="field"><label for="user_name">${_('User Name:')}</label> <input type="text" id="user_name" name="user_name" /></div>
      <div class="field"><label for="password">${_('Password:')}</label> <input type="password" id="password" name="password" /></div>
      <div class="field">
        <input type="submit" name="login" value="${_('Login')}" />
        <input py:if="forward_url" type="hidden" name="forward_url" value="${tg.url(forward_url)}" />
        <input py:for="name,value in original_parameters.items()" type="hidden" name="${name}" value="${value}" />
      </div>
    </form>
    <ul>
      <li><a href="${tg.url('/user/resetpass')}">${_('Forgot Password?')}</a></li>
      <li><a href="${tg.url('/user/new')}">${_('Sign Up')}</a></li>
    </ul>
  </body>
</html>
