.group-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #F8F8F8;
    box-shadow: 0 0 30px 3px rgba(174, 171, 171, .3);
    padding: 30px 0 15px;
    border-radius: 4px;

    h3 {
        margin: auto;
        width: 300px;
        text-align: center;
        font-size:2em;
    }

    hr {
        border: 0;
        height: 1.55px;
        margin-left: 100px;
        margin-right: 100px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), @fedora-grey, rgba(0,0,0,0));
        background-image: -moz-linear-gradient(left, rgba(0,0,0,0), @fedora-grey, rgba(0,0,0,0));
        background-image: -ms-linear-gradient(left, rgba(0,0,0,0), @fedora-grey, rgba(0,0,0,0));
        background-image: -o-linear-gradient(left, rgba(0,0,0,0), @fedora-grey, rgba(0,0,0,0));
    }

    .centered {
        margin: auto;
        float: none;
    }

    .role-filter {
        margin: auto;
        width: 500px;
    }

    .group-section {
        margin-left: auto;
        margin-right: auto;
        width: 50px;
    }

    .pagination {
        margin: auto;
        width: 220px;
        border-radius: 4px;
    }

    .member-item {
        text-align: center;
        list-style: none outside none;
        line-height: 14px;
    }
}

.members-paginate {
    margin: auto;
    width: 220px;
    border-radius: 4px;
}
