## generic files to ignore
*.BAK
*.bak
*.log
*.old
*~
.#*
,*
*~
*$
*.lock
*.DS_Store
*.swp
*.out
*.tmp
*.log
*.cache

# Editor: Eclipse
.buildpath
.settings
.project
.pydevproject
parameters.yml

# Editor: PHPStorm
.idea

node_modules
vendor
tmp/*