<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../../master.html" />
  <head>
    <title>${_('Edit Email')}</title>
  </head>
  <body>
    <h2>${_('Edit Email')}</h2>
    <form action="${tg.url('/user/email/save/%s' % target.username)}" method="post">
      <div class="field">
        <label for="email">${_('Email:')}</label> <span>${email}</span>
        <input type="hidden" id="email" name="email" value="${email}" />
      </div>
      <div class="field">
        <label for="description">${_('Description:')}</label>
        <input type="text" id="description" name="description" value="${target.person_emails[email].description}" />
        <!-- TODO: Correct documentation for this -->
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_primary_email')}'});</script>
      </div>
      <div class="field">
        <input type="submit" value="${_('Save!')}" />
        <a href="${tg.url('/user/email/manage')}">${_('Cancel')}</a>
      </div>
    </form>
  </body>
</html>
