<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Fedora Accounts System')}</title>
  </head>
  <body>
    <!-- Click-through CLA -->
    <h2>${_('Contributor License Agreement')}</h2>
    <xi:include href="cla.html" />
    <form action="${tg.url('/cla/click/%s' % userName)}" method="post">
      <div>
        ${_('If you agree to these terms and conditions, type "%s" here:') % 'I agree'} <input type="text" id="agree" name="agree" /><br />
        ${_('Full Name:')} ${user.givenName}<br />
        ${_('E-mail:')} ${user.mail}<br />
        ${_('Date:')} ${date}<br />
        <input type="submit" value="${_('Submit CLA')}" />
      </div>
    </form>
  </body>
</html>
