<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Fedora Accounts System')}</title>
  </head>
  <body>
    <h2>${_('Fedora Contributor License Agreement')}</h2>
    <p>
    ${Markup(_('There are two ways to sign the CLA.  Most users will want to do a signed CLA as it will promote them to a full contributor in Fedora.  The click-through CLA only grants partial access but may be preferred for those with special legal considerations.  See:  &lt;a href="http://fedoraproject.org/wiki/Legal/CLAAcceptanceHierarchies"&gt;CLA Acceptance Hierarchies&lt;/a&gt; for more information.'))}
    </p>
    <br/>
    <p>
      <ul py:if="not signedCLA">
        <li><a href="${tg.url('/cla/view/sign')}">${_('Sign Contributor License Agreement (CLA)')}</a></li>
        <!--<li py:if="not clickedCLA"><a href="${tg.url('/cla/view/click')}">${_('Click-through CLA')}</a></li>-->
      </ul>
    </p>
    <p py:if="signedCLA">
    ${Markup(_('You have already sucessfully signed the &lt;a href="%s"&gt;CLA&lt;/a&gt;.') % tg.url('/cla/view'))}
    </p>
  </body>
</html>
