<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>Fedora Accounts System</title>
  </head>
  <body>
    <h2>Fedora Contributor License Agreement</h2>
    <p>
    Explanatory text goes here.
    </p>
    <ul>
      <li><a href="${tg.url('/cla/view/sign')}">Signed CLA</a></li>
      <li><a href="${tg.url('/cla/view/click')}">Click-through CLA</a></li>
    </ul>
  </body>
</html>
