<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>Fedora Accounts System</title>
  </head>
  <body>
    <!-- Signed CLA -->
    <h2>Contributor License Agreement</h2>
    <p>
    Use the below link to download/save the CLA as fedora-icla-${tg.identity.user.user_name}.txt, run gpg -as fedora-icla-${tg.identity.user.user_name}.txt, and upload fedora-icla-${tg.identity.user.user_name}.txt.asc in the form below.
    </p>
    <a href="${tg.url('/cla/download')}">Download the CLA text file here!</a>

    <form action="${tg.url('/cla/sign')}" method="post" enctype="multipart/form-data">
      <div>
        <label for="signature">Signed CLA:</label> <input type="file" id="signature" name="signature" /><br />
        <input type="submit" value="Submit CLA" />
      </div>
    </form>
  </body>
</html>
