<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Fedora Accounts System')}</title>
  </head>
  <body>
    <!-- Click-through CLA -->
    <h2>${_('Contributor License Agreement')}</h2>
    <py:if test="type is None">
      <xi:include href="cla.html" />
    </py:if>

    <py:if test="type == 'click'">
      <xi:include href="cla.html" />
      <form action="${tg.url('/cla/click')}" method="post">
        <div>
          ${_('If you agree to these terms and conditions, type "%s" here:') % 'I agree'} <input type="text" id="agree" name="agree" /><br />
          ${_('Full Name:')} ${person.human_name}<br />
          ${_('E-mail:')} ${person.emails['primary'].email}<br />
          ${_('Date:')} ${date}<br />
          <input type="submit" value="${_('Submit CLA')}" />
        </div>
      </form>
    </py:if>
    <py:if test="type == 'sign'">
      <p>
      ${Markup(_('Use the below link to download/save the CLA as fedora-icla-%(username)s.txt, and run: &lt;pre&gt;gpg -as fedora-icla-%(username)s.txt&lt;/pre&gt; After, upload fedora-icla-%(username)s.txt.asc in the form below.') % {'username': person.username})}
      </p>
      <p>
      <a href="${tg.url('/cla/download')}">${_('Download the CLA text file here!')}</a>
      </p>
      <form action="${tg.url('/cla/sign')}" method="post" enctype="multipart/form-data">
        <div>
          <label for="signature">${_('Signed CLA:')}</label> <input type="file" id="signature" name="signature" /><br />
          <input type="submit" value="${_('Submit CLA')}" />
        </div>
      </form>
    </py:if>
  </body>
</html>
