<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />

  <?python
    import GeoIP
    bad_codes = tg.config('country_blacklist', [])
    countries = GeoIP.country_names

    for c in bad_codes:
        try:
            del countries[c]
        except KeyError:
            pass
    ?>

  <head>
    <title>${_('Fedora Accounts System')}</title>
  </head>
  <body>
    <h2>${_('Fedora Contributor License Agreement')}</h2>
    ${Markup(_('&lt;a href="%(url)s"&gt;Text Version&lt;/a&gt;') %
      {'url': tg.url('/cla/text')})}
    <xi:include href="cla.html" />
    ${Markup(_('&lt;a href="%(url)s"&gt;Text Version&lt;/a&gt;') %
      {'url': tg.url('/cla/text')})}
    <p py:if="cla">
    ${Markup(_('You have already successfully completed the CLA.') %
      {'url': tg.url('/cla/text')})}
      </p>

    <py:if test="not cla">
    <p>If any of the following is inaccurate, please correct it now:
    <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/cla_accuracy')}'});</script>
    </p>
    <form action="${tg.url('/cla/send')}" method="post">
      <div class="field">
        <label for="human_name">${_('Full Name')}:</label>
        <input type="text" id="human_name" name="human_name" value="${person.human_name}" />
        <script type="text/javascript">var hb1 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_human_name')}'});</script>
      </div>
      <div class="field">
        <label for="telephone">${_('Telephone Number')}:</label>
        <input type="text" id="telephone" name="telephone" value="${person.telephone}" />
        <script type="text/javascript">var hb5 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_telephone')}'});</script>
      </div>
      <div py:if="show['show_postal_address']" class="field">
        <label for="postal_address">${_('Postal Address')}:</label>
        <textarea id="postal_address" name="postal_address">${person.postal_address}</textarea>
        <script type="text/javascript">var hb6 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_postal_address')}'});</script>
      </div>
      <div class="field">
        <label for="country_code">${_('Country')}:</label>
        <select name="country_code">
            <option value=''>${_('Select Country')}</option>
            <option py:for="code, country in sorted(countries.items(), lambda x, y: cmp(x[1], y[1]))"
              py:attrs="dict(selected=(code==person.country_code and 'True' or None ))"
              value="${code}">${country}(${code})</option>
        </select>
        <script type="text/javascript">var hb6 = new HelpBalloon({dataURL: '${tg.url('/help/get_help/user_country_code')}'});</script>
      </div>
      <p align="center">
      ${_('If your country is not listed, select "Other"')}
      </p>
      <p>
      <input type="checkbox" id="confirm" name="confirm" /> <label for="confirm">${_('I certify that the above information (my name, country, and phone number) are accurate to the best of my knowledge.')}</label>
      </p>
      <div>
        <input type="submit" id="agree" name="agree" value="${_('I agree')}" />
        <input type="submit" value="${_('I do not agree')}" />
      </div>
    </form>
   </py:if>
  </body>
</html>
