<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Fedora Accounts System')}</title>
  </head>
  <body>
    <h2>${_('Fedora Contributor License Agreement')}</h2>
    ${Markup(_('&lt;a href="%(url)s"&gt;Text Version&lt;/a&gt;') % {'url': tg.url('/cla/text')})}
    <xi:include href="cla.html" />
    ${Markup(_('&lt;a href="%(url)s"&gt;Text Version&lt;/a&gt;') % {'url': tg.url('/cla/text')})}
    <p py:if="cla">
    ${Markup(_('You have already successfully completed the CLA.') % {'url': tg.url('/cla/text')})}
    </p>
    <py:if test="not cla">
    <form action="${tg.url('/cla/send')}" method="post">
      <p>
        <div class="userbox">
         <dl>
           <dt>${_('Full Name:')}</dt><dd>${person.human_name}</dd>
           <dt>${_('Phone Number:')}</dt><dd>${person.telephone}</dd>
           <dt>${_('Address:')}</dt><dd>${person.postal_address}</dd>
           <dt>${_('Country:')}</dt><dd>${person.country_code}</dd>

         </dl>
        </div>
      <input type="checkbox" id="confirm" name="confirm" /> <label for="confirm">${_('I certify that the above information (my name, address, country, and phone number) are accurate to the best of my knowledge.')}</label>
      </p>
      <p>
      ${Markup(_('To update any of this information, &lt;a href="%s"&gt;edit your account&lt;/a&gt;.') % tg.url('/user/edit'))}
      </p>
      <div>
        <input type="submit" id="agree" name="agree" value="${_('I agree')}" />
        <input type="submit" value="${_('I do not agree')}" />
      </div>
    </form>
   </py:if>
  </body>
</html>
