<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <title>${_('Fedora Accounts System')}</title>
  </head>
  <body>
    <!-- Signed CLA -->
    <h2>${_('Contributor License Agreement')}</h2>
    <p>
    ${_('Use the below link to download/save the CLA as fedora-icla-%(user)s.txt, run gpg -as fedora-icla-${tg.identity.user.user_name}.txt, and upload fedora-icla-%(user)s.txt.asc in the form below.') % {'user': tg.identity.user.user_name}}
    </p>
    <a href="${tg.url('/cla/download')}">${_('Download the CLA text file here!')}</a>

    <form action="${tg.url('/cla/sign')}" method="post" enctype="multipart/form-data">
      <div>
        <label for="signature">${_('Signed CLA:')}</label> <input type="file" id="signature" name="signature" /><br />
        <input type="submit" value="${_('Submit CLA')}" />
      </div>
    </form>
  </body>
</html>
